pipeline/PL_WSG_DateQuery_wsgvic.json
{
	"name": "PL_WSG_DateQuery_wsgvic",
	"properties": {
		"activities": [
			{
				"name": "For Each Entity",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('Entity')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy WSG VIC to Data Lake",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Set StartDate",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Set End Date",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Set Debug",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"paginationRules": {
										"supportRFC5988": "true",
										"EndCondition:$.has_more": "Const:false",
										"QueryParameters.$start": "$.next_result"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "RestAPI_Date",
									"type": "DatasetReference",
									"parameters": {
										"pStartDate": {
											"value": "@pipeline().parameters.pStartDate",
											"type": "Expression"
										},
										"pEndDate": {
											"value": "@pipeline().parameters.pEndDate",
											"type": "Expression"
										},
										"API_Instance": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DataLake",
									"type": "DatasetReference",
									"parameters": {
										"EffectiveDate": {
											"value": "@pipeline().parameters.pStartDate",
											"type": "Expression"
										},
										"ContainerName": {
											"value": "@split(item(),'/')[1]",
											"type": "Expression"
										},
										"DatasetName": {
											"value": "@split(item(),'/')[1]",
											"type": "Expression"
										},
										"Instance": {
											"value": "wsgvic",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Set StartDate",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "StartDate",
								"value": {
									"value": "@formatDateTime(pipeline().parameters.pStartDate,'yyyy-MM-dd')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set End Date",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "EndDate",
								"value": {
									"value": "@formatDateTime(adddays(pipeline().parameters.pEndDate,2),'yyyy-MM-dd')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set Debug",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Debug",
								"value": {
									"value": "@concat(item(),'$query=update_timestamp>=','''',pipeline().parameters.pStartDate,'''','and update_timestamp<=','',pipeline().parameters.pEndDate,'')",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "For Each Instance",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Tip Fee to Data Lake",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('Instance')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Booking to DB",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Route to DB",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "upsert",
									"upsertSettings": {
										"useTempDB": true,
										"keys": [
											"id"
										]
									},
									"sqlWriterUseTableLock": true,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "['$id']"
											},
											"sink": {
												"name": "id",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['add_chg_changed']"
											},
											"sink": {
												"name": "add_chg_changed",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['admin_status']"
											},
											"sink": {
												"name": "admin_status",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['alt_ref_1']"
											},
											"sink": {
												"name": "alt_ref_1",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['alt_ref_2']"
											},
											"sink": {
												"name": "alt_ref_2",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['alt_ref_serv_1']"
											},
											"sink": {
												"name": "alt_ref_serv_1",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['alt_ref_serv_2']"
											},
											"sink": {
												"name": "alt_ref_serv_2",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['application_id']"
											},
											"sink": {
												"name": "application_id",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['bill_address_1']"
											},
											"sink": {
												"name": "bill_address_1",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['bill_address_2']"
											},
											"sink": {
												"name": "bill_address_2",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['bill_city']"
											},
											"sink": {
												"name": "bill_city",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['bill_name']"
											},
											"sink": {
												"name": "bill_name",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['bill_property_name']"
											},
											"sink": {
												"name": "bill_property_name",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['bill_state']"
											},
											"sink": {
												"name": "bill_state",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['bill_to_swt']"
											},
											"sink": {
												"name": "bill_to_swt",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['bill_zip']"
											},
											"sink": {
												"name": "bill_zip",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['bin_attributes']"
											},
											"sink": {
												"name": "bin_attributes",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['bins_collected']"
											},
											"sink": {
												"name": "bins_collected",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['booking_custom_price']"
											},
											"sink": {
												"name": "booking_custom_price",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['booking_id']"
											},
											"sink": {
												"name": "booking_id",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['booking_update_flag']"
											},
											"sink": {
												"name": "booking_update_flag",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['chargeable']"
											},
											"sink": {
												"name": "chargeable",
												"type": "Boolean"
											}
										},
										{
											"source": {
												"path": "['cont_id']"
											},
											"sink": {
												"name": "cont_id",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['container_id']"
											},
											"sink": {
												"name": "container_id",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['container_size']"
											},
											"sink": {
												"name": "container_size",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['container_type']"
											},
											"sink": {
												"name": "container_type",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['container_weight']"
											},
											"sink": {
												"name": "container_weight",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['containers']"
											},
											"sink": {
												"name": "containers",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['coord_date']"
											},
											"sink": {
												"name": "coord_date",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "['coord_time']"
											},
											"sink": {
												"name": "coord_time",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['coord_type']"
											},
											"sink": {
												"name": "coord_type",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['create_timestamp']"
											},
											"sink": {
												"name": "create_timestamp",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "['create_user_id']"
											},
											"sink": {
												"name": "create_user_id",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['currency_code']"
											},
											"sink": {
												"name": "currency_code",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['cust_cust_ref']"
											},
											"sink": {
												"name": "cust_cust_ref",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['customer']"
											},
											"sink": {
												"name": "customer",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['customer_class']"
											},
											"sink": {
												"name": "customer_class",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['customer_service_line_no']"
											},
											"sink": {
												"name": "customer_service_line_no",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['default_weight']"
											},
											"sink": {
												"name": "default_weight",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['delivery_serial_no']"
											},
											"sink": {
												"name": "delivery_serial_no",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['delivery_site_number']"
											},
											"sink": {
												"name": "delivery_site_number",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['delivery_site_type']"
											},
											"sink": {
												"name": "delivery_site_type",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['Department']"
											},
											"sink": {
												"name": "Department",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['destruction_batch_no']"
											},
											"sink": {
												"name": "destruction_batch_no",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['destruction_certificate_required']"
											},
											"sink": {
												"name": "destruction_certificate_required",
												"type": "Boolean"
											}
										},
										{
											"source": {
												"path": "['disposal_charge_type']"
											},
											"sink": {
												"name": "disposal_charge_type",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['disposal_incl_charge']"
											},
											"sink": {
												"name": "disposal_incl_charge",
												"type": "Boolean"
											}
										},
										{
											"source": {
												"path": "['disposal_ticket']"
											},
											"sink": {
												"name": "disposal_ticket",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['driver']"
											},
											"sink": {
												"name": "driver",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['driver_comments']"
											},
											"sink": {
												"name": "driver_comments",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['driver_docket_no']"
											},
											"sink": {
												"name": "driver_docket_no",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['driver_seq_no']"
											},
											"sink": {
												"name": "driver_seq_no",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['eba_codes']"
											},
											"sink": {
												"name": "eba_codes",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['email_address']"
											},
											"sink": {
												"name": "email_address",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['Exported']"
											},
											"sink": {
												"name": "Exported",
												"type": "Boolean"
											}
										},
										{
											"source": {
												"path": "['fax_no']"
											},
											"sink": {
												"name": "fax_no",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['geocode_x']"
											},
											"sink": {
												"name": "geocode_x",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['geocode_y']"
											},
											"sink": {
												"name": "geocode_y",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['GetLastestPrice']"
											},
											"sink": {
												"name": "GetLastestPrice",
												"type": "Boolean"
											}
										},
										{
											"source": {
												"path": "['HasAttachment']"
											},
											"sink": {
												"name": "HasAttachment",
												"type": "Boolean"
											}
										},
										{
											"source": {
												"path": "['import_id']"
											},
											"sink": {
												"name": "import_id",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['invoice_no']"
											},
											"sink": {
												"name": "invoice_no",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['InvoiceDescription']"
											},
											"sink": {
												"name": "InvoiceDescription",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['job_end_time']"
											},
											"sink": {
												"name": "job_end_time",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['job_hours']"
											},
											"sink": {
												"name": "job_hours",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['job_serviced_date']"
											},
											"sink": {
												"name": "job_serviced_date",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "['job_start_time']"
											},
											"sink": {
												"name": "job_start_time",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['jrl_no']"
											},
											"sink": {
												"name": "jrl_no",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['ledger_account']"
											},
											"sink": {
												"name": "ledger_account",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['linked_trans_no']"
											},
											"sink": {
												"name": "linked_trans_no",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['linked_trans_seq_no']"
											},
											"sink": {
												"name": "linked_trans_seq_no",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['map_reference']"
											},
											"sink": {
												"name": "map_reference",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['mdt_cash_payment']"
											},
											"sink": {
												"name": "mdt_cash_payment",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['meters_collected']"
											},
											"sink": {
												"name": "meters_collected",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['multi_total_price']"
											},
											"sink": {
												"name": "multi_total_price",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['multi_total_price_ex_tax']"
											},
											"sink": {
												"name": "multi_total_price_ex_tax",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['multi_total_tax']"
											},
											"sink": {
												"name": "multi_total_tax",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['OldServType']"
											},
											"sink": {
												"name": "OldServType",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['open_flag']"
											},
											"sink": {
												"name": "open_flag",
												"type": "Boolean"
											}
										},
										{
											"source": {
												"path": "['order_no']"
											},
											"sink": {
												"name": "order_no",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['org']"
											},
											"sink": {
												"name": "org",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['p_year']"
											},
											"sink": {
												"name": "p_year",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['paid']"
											},
											"sink": {
												"name": "paid",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['period']"
											},
											"sink": {
												"name": "period",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['phone_2']"
											},
											"sink": {
												"name": "phone_2",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['PlannedEndTime']"
											},
											"sink": {
												"name": "PlannedEndTime",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['PlannedStartTime']"
											},
											"sink": {
												"name": "PlannedStartTime",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['po_no']"
											},
											"sink": {
												"name": "po_no",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['prev_trans_status']"
											},
											"sink": {
												"name": "prev_trans_status",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['price_line_no']"
											},
											"sink": {
												"name": "price_line_no",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['price_rate']"
											},
											"sink": {
												"name": "price_rate",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['Priority']"
											},
											"sink": {
												"name": "Priority",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['ProfitCentre']"
											},
											"sink": {
												"name": "ProfitCentre",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['prorated_tip_cost']"
											},
											"sink": {
												"name": "prorated_tip_cost",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['rcti_batch']"
											},
											"sink": {
												"name": "rcti_batch",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['rcti_no']"
											},
											"sink": {
												"name": "rcti_no",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['reason_code']"
											},
											"sink": {
												"name": "reason_code",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['removal_serial_no']"
											},
											"sink": {
												"name": "removal_serial_no",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['removal_site_number']"
											},
											"sink": {
												"name": "removal_site_number",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['removal_site_type']"
											},
											"sink": {
												"name": "removal_site_type",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['route_directions_1']"
											},
											"sink": {
												"name": "route_directions_1",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['route_directions_2']"
											},
											"sink": {
												"name": "route_directions_2",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['route_directions_3']"
											},
											"sink": {
												"name": "route_directions_3",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['route_directions_4']"
											},
											"sink": {
												"name": "route_directions_4",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['route_no']"
											},
											"sink": {
												"name": "route_no",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['run_gen_batch']"
											},
											"sink": {
												"name": "run_gen_batch",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['SendTipFeeAttachments']"
											},
											"sink": {
												"name": "SendTipFeeAttachments",
												"type": "Boolean"
											}
										},
										{
											"source": {
												"path": "['sent_flag']"
											},
											"sink": {
												"name": "sent_flag",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['serv_addr_1']"
											},
											"sink": {
												"name": "serv_addr_1",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['serv_addr_2']"
											},
											"sink": {
												"name": "serv_addr_2",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['serv_city']"
											},
											"sink": {
												"name": "serv_city",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['serv_code']"
											},
											"sink": {
												"name": "serv_code",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['serv_contact']"
											},
											"sink": {
												"name": "serv_contact",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['serv_country']"
											},
											"sink": {
												"name": "serv_country",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['serv_desc_1']"
											},
											"sink": {
												"name": "serv_desc_1",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['serv_desc_2']"
											},
											"sink": {
												"name": "serv_desc_2",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['serv_desc_3']"
											},
											"sink": {
												"name": "serv_desc_3",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['serv_desc_4']"
											},
											"sink": {
												"name": "serv_desc_4",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['serv_name']"
											},
											"sink": {
												"name": "serv_name",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['serv_no']"
											},
											"sink": {
												"name": "serv_no",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['serv_phone']"
											},
											"sink": {
												"name": "serv_phone",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['serv_property_name']"
											},
											"sink": {
												"name": "serv_property_name",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['serv_state']"
											},
											"sink": {
												"name": "serv_state",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['serv_time_code']"
											},
											"sink": {
												"name": "serv_time_code",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['serv_type']"
											},
											"sink": {
												"name": "serv_type",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['serv_zip']"
											},
											"sink": {
												"name": "serv_zip",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['service_line_no']"
											},
											"sink": {
												"name": "service_line_no",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['site_number']"
											},
											"sink": {
												"name": "site_number",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['status']"
											},
											"sink": {
												"name": "status",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['temp_code']"
											},
											"sink": {
												"name": "temp_code",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['TempLedgerAccount']"
											},
											"sink": {
												"name": "TempLedgerAccount",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['ticket_required']"
											},
											"sink": {
												"name": "ticket_required",
												"type": "Boolean"
											}
										},
										{
											"source": {
												"path": "['tip_fee']"
											},
											"sink": {
												"name": "tip_fee",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['total_price']"
											},
											"sink": {
												"name": "total_price",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['total_price_ex_tax']"
											},
											"sink": {
												"name": "total_price_ex_tax",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['trans_date']"
											},
											"sink": {
												"name": "trans_date",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "['trans_entry_date']"
											},
											"sink": {
												"name": "trans_entry_date",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "['trans_entry_id']"
											},
											"sink": {
												"name": "trans_entry_id",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['trans_entry_time']"
											},
											"sink": {
												"name": "trans_entry_time",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['trans_no']"
											},
											"sink": {
												"name": "trans_no",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['trans_seq_no']"
											},
											"sink": {
												"name": "trans_seq_no",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['trans_update_date']"
											},
											"sink": {
												"name": "trans_update_date",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "['trans_update_id']"
											},
											"sink": {
												"name": "trans_update_id",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['trans_update_time']"
											},
											"sink": {
												"name": "trans_update_time",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['truck_no']"
											},
											"sink": {
												"name": "truck_no",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['update_timestamp']"
											},
											"sink": {
												"name": "update_timestamp",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "['update_user_id']"
											},
											"sink": {
												"name": "update_user_id",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['updated']"
											},
											"sink": {
												"name": "updated",
												"type": "Boolean"
											}
										},
										{
											"source": {
												"path": "['UpdateProgram']"
											},
											"sink": {
												"name": "UpdateProgram",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['usePriceCode']"
											},
											"sink": {
												"name": "usePriceCode",
												"type": "Boolean"
											}
										},
										{
											"source": {
												"path": "['user_id']"
											},
											"sink": {
												"name": "user_id",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['vehicle_class']"
											},
											"sink": {
												"name": "vehicle_class",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['waste_type']"
											},
											"sink": {
												"name": "waste_type",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['WasteOutcome']"
											},
											"sink": {
												"name": "WasteOutcome",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['we_equip_codes']"
											},
											"sink": {
												"name": "we_equip_codes",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['we_helpers']"
											},
											"sink": {
												"name": "we_helpers",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['we_price']"
											},
											"sink": {
												"name": "we_price",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['we_price_code']"
											},
											"sink": {
												"name": "we_price_code",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['we_price_discount_label']"
											},
											"sink": {
												"name": "we_price_discount_label",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['we_tax']"
											},
											"sink": {
												"name": "we_tax",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['zone_no']"
											},
											"sink": {
												"name": "zone_no",
												"type": "Int32"
											}
										}
									],
									"collectionReference": "$['result']"
								}
							},
							"inputs": [
								{
									"referenceName": "DataLake",
									"type": "DatasetReference",
									"parameters": {
										"EffectiveDate": {
											"value": "@pipeline().parameters.pStartDate",
											"type": "Expression"
										},
										"ContainerName": {
											"value": "booking",
											"type": "Expression"
										},
										"DatasetName": {
											"value": "booking",
											"type": "Expression"
										},
										"Instance": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DBTable",
									"type": "DatasetReference",
									"parameters": {
										"TableName": {
											"value": "@concat('booking_',item())",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Customer to DB",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"modifiedDatetimeStart": "2022-12-21T00:00:00.335Z",
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "upsert",
									"upsertSettings": {
										"useTempDB": true,
										"keys": [
											"id"
										]
									},
									"sqlWriterUseTableLock": true,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"enableSkipIncompatibleRow": false,
								"dataIntegrationUnits": 2,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "['$id']"
											},
											"sink": {
												"name": "id",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['accounting_acc_no']"
											},
											"sink": {
												"name": "accounting_acc_no",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['accounting_bal_due_days']"
											},
											"sink": {
												"name": "accounting_bal_due_days",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['accounting_cust_id']"
											},
											"sink": {
												"name": "accounting_cust_id",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['accounting_vendor_id']"
											},
											"sink": {
												"name": "accounting_vendor_id",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['address_1']"
											},
											"sink": {
												"name": "address_1",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['address_2']"
											},
											"sink": {
												"name": "address_2",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['alternate_id']"
											},
											"sink": {
												"name": "alternate_id",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['anzsic_code']"
											},
											"sink": {
												"name": "anzsic_code",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['approval_contact']"
											},
											"sink": {
												"name": "approval_contact",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['approval_email']"
											},
											"sink": {
												"name": "approval_email",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['approval_phone']"
											},
											"sink": {
												"name": "approval_phone",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['apt_no']"
											},
											"sink": {
												"name": "apt_no",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['AttachmentCategories']"
											},
											"sink": {
												"name": "AttachmentCategories",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['AutoStopCreditOff']"
											},
											"sink": {
												"name": "AutoStopCreditOff",
												"type": "Boolean"
											}
										},
										{
											"source": {
												"path": "['AutoStopCreditOn']"
											},
											"sink": {
												"name": "AutoStopCreditOn",
												"type": "Boolean"
											}
										},
										{
											"source": {
												"path": "['bank_acct_no']"
											},
											"sink": {
												"name": "bank_acct_no",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['bank_name']"
											},
											"sink": {
												"name": "bank_name",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['bill_cycle']"
											},
											"sink": {
												"name": "bill_cycle",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['bill_to_swt']"
											},
											"sink": {
												"name": "bill_to_swt",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['book_alt_ref1']"
											},
											"sink": {
												"name": "book_alt_ref1",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['book_alt_ref2']"
											},
											"sink": {
												"name": "book_alt_ref2",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['branch']"
											},
											"sink": {
												"name": "branch",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['BusinessType']"
											},
											"sink": {
												"name": "BusinessType",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['cash_account']"
											},
											"sink": {
												"name": "cash_account",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['cash_cardname']"
											},
											"sink": {
												"name": "cash_cardname",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['cash_expiry']"
											},
											"sink": {
												"name": "cash_expiry",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['cash_method']"
											},
											"sink": {
												"name": "cash_method",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['city']"
											},
											"sink": {
												"name": "city",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['classification_1']"
											},
											"sink": {
												"name": "classification_1",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['classification_2']"
											},
											"sink": {
												"name": "classification_2",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['classification_3']"
											},
											"sink": {
												"name": "classification_3",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['classification_4']"
											},
											"sink": {
												"name": "classification_4",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['classification_5']"
											},
											"sink": {
												"name": "classification_5",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['classification_6']"
											},
											"sink": {
												"name": "classification_6",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['classification_7']"
											},
											"sink": {
												"name": "classification_7",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['classification_8']"
											},
											"sink": {
												"name": "classification_8",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['classification_9']"
											},
											"sink": {
												"name": "classification_9",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['classification_10']"
											},
											"sink": {
												"name": "classification_10",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['contribution_entitlement']"
											},
											"sink": {
												"name": "contribution_entitlement",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['contribution_entitlement_total']"
											},
											"sink": {
												"name": "contribution_entitlement_total",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['coord_date']"
											},
											"sink": {
												"name": "coord_date",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "['coord_time']"
											},
											"sink": {
												"name": "coord_time",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['coord_type']"
											},
											"sink": {
												"name": "coord_type",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['country_code']"
											},
											"sink": {
												"name": "country_code",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['county']"
											},
											"sink": {
												"name": "county",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['create_date']"
											},
											"sink": {
												"name": "create_date",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "['create_timestamp']"
											},
											"sink": {
												"name": "create_timestamp",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "['create_user_id']"
											},
											"sink": {
												"name": "create_user_id",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['credit_contact']"
											},
											"sink": {
												"name": "credit_contact",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['credit_email']"
											},
											"sink": {
												"name": "credit_email",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['credit_limit']"
											},
											"sink": {
												"name": "credit_limit",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['credit_limit_warn_amt']"
											},
											"sink": {
												"name": "credit_limit_warn_amt",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['credit_phone']"
											},
											"sink": {
												"name": "credit_phone",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['CTSName']"
											},
											"sink": {
												"name": "CTSName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['CTSNumber']"
											},
											"sink": {
												"name": "CTSNumber",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['currency_code']"
											},
											"sink": {
												"name": "currency_code",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['cust_class_1']"
											},
											"sink": {
												"name": "cust_class_1",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['cust_class_2']"
											},
											"sink": {
												"name": "cust_class_2",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['cust_class_3']"
											},
											"sink": {
												"name": "cust_class_3",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['cust_class_4']"
											},
											"sink": {
												"name": "cust_class_4",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['cust_class_5']"
											},
											"sink": {
												"name": "cust_class_5",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['cust_group']"
											},
											"sink": {
												"name": "cust_group",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['cust_number']"
											},
											"sink": {
												"name": "cust_number",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['cust_seq_no']"
											},
											"sink": {
												"name": "cust_seq_no",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['cust_type']"
											},
											"sink": {
												"name": "cust_type",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['customer_class']"
											},
											"sink": {
												"name": "customer_class",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['cut_off_swt']"
											},
											"sink": {
												"name": "cut_off_swt",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['day_closed_1']"
											},
											"sink": {
												"name": "day_closed_1",
												"type": "Boolean"
											}
										},
										{
											"source": {
												"path": "['day_closed_2']"
											},
											"sink": {
												"name": "day_closed_2",
												"type": "Boolean"
											}
										},
										{
											"source": {
												"path": "['day_closed_3']"
											},
											"sink": {
												"name": "day_closed_3",
												"type": "Boolean"
											}
										},
										{
											"source": {
												"path": "['day_closed_4']"
											},
											"sink": {
												"name": "day_closed_4",
												"type": "Boolean"
											}
										},
										{
											"source": {
												"path": "['day_closed_5']"
											},
											"sink": {
												"name": "day_closed_5",
												"type": "Boolean"
											}
										},
										{
											"source": {
												"path": "['day_closed_6']"
											},
											"sink": {
												"name": "day_closed_6",
												"type": "Boolean"
											}
										},
										{
											"source": {
												"path": "['day_closed_7']"
											},
											"sink": {
												"name": "day_closed_7",
												"type": "Boolean"
											}
										},
										{
											"source": {
												"path": "['day_not_after_1']"
											},
											"sink": {
												"name": "day_not_after_1",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['day_not_after_2']"
											},
											"sink": {
												"name": "day_not_after_2",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['day_not_after_3']"
											},
											"sink": {
												"name": "day_not_after_3",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['day_not_after_4']"
											},
											"sink": {
												"name": "day_not_after_4",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['day_not_after_5']"
											},
											"sink": {
												"name": "day_not_after_5",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['day_not_after_6']"
											},
											"sink": {
												"name": "day_not_after_6",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['day_not_after_7']"
											},
											"sink": {
												"name": "day_not_after_7",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['day_not_before_1']"
											},
											"sink": {
												"name": "day_not_before_1",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['day_not_before_2']"
											},
											"sink": {
												"name": "day_not_before_2",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['day_not_before_3']"
											},
											"sink": {
												"name": "day_not_before_3",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['day_not_before_4']"
											},
											"sink": {
												"name": "day_not_before_4",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['day_not_before_5']"
											},
											"sink": {
												"name": "day_not_before_5",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['day_not_before_6']"
											},
											"sink": {
												"name": "day_not_before_6",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['day_not_before_7']"
											},
											"sink": {
												"name": "day_not_before_7",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['default_tax_perc']"
											},
											"sink": {
												"name": "default_tax_perc",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['disposal_site']"
											},
											"sink": {
												"name": "disposal_site",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['docket_req']"
											},
											"sink": {
												"name": "docket_req",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['drawer']"
											},
											"sink": {
												"name": "drawer",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['email_address']"
											},
											"sink": {
												"name": "email_address",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['fax_no']"
											},
											"sink": {
												"name": "fax_no",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['FilteredWithAttributes']"
											},
											"sink": {
												"name": "FilteredWithAttributes",
												"type": "Boolean"
											}
										},
										{
											"source": {
												"path": "['first_dd_date']"
											},
											"sink": {
												"name": "first_dd_date",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "['geocode_x']"
											},
											"sink": {
												"name": "geocode_x",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['geocode_y']"
											},
											"sink": {
												"name": "geocode_y",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['government_no']"
											},
											"sink": {
												"name": "government_no",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['historical_date']"
											},
											"sink": {
												"name": "historical_date",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "['house_no']"
											},
											"sink": {
												"name": "house_no",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['house_no_text']"
											},
											"sink": {
												"name": "house_no_text",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['import_id']"
											},
											"sink": {
												"name": "import_id",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['in_collection_area']"
											},
											"sink": {
												"name": "in_collection_area",
												"type": "Boolean"
											}
										},
										{
											"source": {
												"path": "['internal_account']"
											},
											"sink": {
												"name": "internal_account",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['invoice_email']"
											},
											"sink": {
												"name": "invoice_email",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['invoice_send_method']"
											},
											"sink": {
												"name": "invoice_send_method",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['invoice_send_method_we']"
											},
											"sink": {
												"name": "invoice_send_method_we",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['InvoiceStyle']"
											},
											"sink": {
												"name": "InvoiceStyle",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['is_rcti']"
											},
											"sink": {
												"name": "is_rcti",
												"type": "Boolean"
											}
										},
										{
											"source": {
												"path": "['LastPaymentDate']"
											},
											"sink": {
												"name": "LastPaymentDate",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "['lot_no']"
											},
											"sink": {
												"name": "lot_no",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['map_reference']"
											},
											"sink": {
												"name": "map_reference",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['module']"
											},
											"sink": {
												"name": "module",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['MultiSiteOneEmail']"
											},
											"sink": {
												"name": "MultiSiteOneEmail",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['name']"
											},
											"sink": {
												"name": "name",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['NoService']"
											},
											"sink": {
												"name": "NoService",
												"type": "Boolean"
											}
										},
										{
											"source": {
												"path": "['par_billto_cust_number']"
											},
											"sink": {
												"name": "par_billto_cust_number",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['parcel_key']"
											},
											"sink": {
												"name": "parcel_key",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['phone']"
											},
											"sink": {
												"name": "phone",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['Phone2']"
											},
											"sink": {
												"name": "Phone2",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['po_no']"
											},
											"sink": {
												"name": "po_no",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['POChain']"
											},
											"sink": {
												"name": "POChain",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['possession_date']"
											},
											"sink": {
												"name": "possession_date",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "['postal_address_1']"
											},
											"sink": {
												"name": "postal_address_1",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['postal_address_2']"
											},
											"sink": {
												"name": "postal_address_2",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['postal_city']"
											},
											"sink": {
												"name": "postal_city",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['postal_country_code']"
											},
											"sink": {
												"name": "postal_country_code",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['postal_county']"
											},
											"sink": {
												"name": "postal_county",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['postal_name']"
											},
											"sink": {
												"name": "postal_name",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['postal_property_name']"
											},
											"sink": {
												"name": "postal_property_name",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['postal_state']"
											},
											"sink": {
												"name": "postal_state",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['postal_zip']"
											},
											"sink": {
												"name": "postal_zip",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['property_name']"
											},
											"sink": {
												"name": "property_name",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['protected_from']"
											},
											"sink": {
												"name": "protected_from",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "['protected_to']"
											},
											"sink": {
												"name": "protected_to",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "['rate_account_number']"
											},
											"sink": {
												"name": "rate_account_number",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['rcti_email']"
											},
											"sink": {
												"name": "rcti_email",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['registration_date']"
											},
											"sink": {
												"name": "registration_date",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "['renter_owner_swt']"
											},
											"sink": {
												"name": "renter_owner_swt",
												"type": "Boolean"
											}
										},
										{
											"source": {
												"path": "['route_no']"
											},
											"sink": {
												"name": "route_no",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['rp_master']"
											},
											"sink": {
												"name": "rp_master",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['rp_number']"
											},
											"sink": {
												"name": "rp_number",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['sales_id']"
											},
											"sink": {
												"name": "sales_id",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['sales_territory']"
											},
											"sink": {
												"name": "sales_territory",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['SecondaryZones']"
											},
											"sink": {
												"name": "SecondaryZones",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['SendDocketsWithInvoice']"
											},
											"sink": {
												"name": "SendDocketsWithInvoice",
												"type": "Boolean"
											}
										},
										{
											"source": {
												"path": "['serv_contact']"
											},
											"sink": {
												"name": "serv_contact",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['SignatureMandatoryOnMDT']"
											},
											"sink": {
												"name": "SignatureMandatoryOnMDT",
												"type": "Boolean"
											}
										},
										{
											"source": {
												"path": "['stat']"
											},
											"sink": {
												"name": "stat",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['state']"
											},
											"sink": {
												"name": "state",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['statement_email']"
											},
											"sink": {
												"name": "statement_email",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['street_code']"
											},
											"sink": {
												"name": "street_code",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['street_section']"
											},
											"sink": {
												"name": "street_section",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['temp_susp_ed']"
											},
											"sink": {
												"name": "temp_susp_ed",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "['temp_susp_sd']"
											},
											"sink": {
												"name": "temp_susp_sd",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "['terms_code']"
											},
											"sink": {
												"name": "terms_code",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['town_code']"
											},
											"sink": {
												"name": "town_code",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['trade_name']"
											},
											"sink": {
												"name": "trade_name",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['update_timestamp']"
											},
											"sink": {
												"name": "update_timestamp",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "['update_user_id']"
											},
											"sink": {
												"name": "update_user_id",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['UpdateProgram']"
											},
											"sink": {
												"name": "UpdateProgram",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['UsePOChain']"
											},
											"sink": {
												"name": "UsePOChain",
												"type": "Boolean"
											}
										},
										{
											"source": {
												"path": "['waste_precinct']"
											},
											"sink": {
												"name": "waste_precinct",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['zip']"
											},
											"sink": {
												"name": "zip",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['zone_code']"
											},
											"sink": {
												"name": "zone_code",
												"type": "String"
											}
										}
									],
									"collectionReference": "$['result']",
									"mapComplexValuesToString": false
								}
							},
							"inputs": [
								{
									"referenceName": "DataLake",
									"type": "DatasetReference",
									"parameters": {
										"EffectiveDate": {
											"value": "@pipeline().parameters.pStartDate",
											"type": "Expression"
										},
										"ContainerName": {
											"value": "customer",
											"type": "Expression"
										},
										"DatasetName": {
											"value": "customer",
											"type": "Expression"
										},
										"Instance": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DBTable",
									"type": "DatasetReference",
									"parameters": {
										"TableName": {
											"value": "@concat('Customer_',item())",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Route to DB",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Customer to DB",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "upsert",
									"upsertSettings": {
										"useTempDB": true,
										"keys": [
											"id"
										]
									},
									"sqlWriterUseTableLock": true,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "['$id']"
											},
											"sink": {
												"name": "id",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['Active']"
											},
											"sink": {
												"name": "Active",
												"type": "Boolean"
											}
										},
										{
											"source": {
												"path": "['area_type']"
											},
											"sink": {
												"name": "area_type",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['branch']"
											},
											"sink": {
												"name": "branch",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['create_timestamp']"
											},
											"sink": {
												"name": "create_timestamp",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "['create_user_id']"
											},
											"sink": {
												"name": "create_user_id",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['display_order']"
											},
											"sink": {
												"name": "display_order",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['driver']"
											},
											"sink": {
												"name": "driver",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['driver_list']"
											},
											"sink": {
												"name": "driver_list",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['equipment_set']"
											},
											"sink": {
												"name": "equipment_set",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['Friday']"
											},
											"sink": {
												"name": "Friday",
												"type": "Boolean"
											}
										},
										{
											"source": {
												"path": "['G_Cal_ID']"
											},
											"sink": {
												"name": "G_Cal_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['G_Event_ID']"
											},
											"sink": {
												"name": "G_Event_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['import_id']"
											},
											"sink": {
												"name": "import_id",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['InvoiceCustomer']"
											},
											"sink": {
												"name": "InvoiceCustomer",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['InvoiceService']"
											},
											"sink": {
												"name": "InvoiceService",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['labour_rate_per_hour']"
											},
											"sink": {
												"name": "labour_rate_per_hour",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['mdt_enabled']"
											},
											"sink": {
												"name": "mdt_enabled",
												"type": "Boolean"
											}
										},
										{
											"source": {
												"path": "['Monday']"
											},
											"sink": {
												"name": "Monday",
												"type": "Boolean"
											}
										},
										{
											"source": {
												"path": "['next_service_date']"
											},
											"sink": {
												"name": "next_service_date",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "['num_employees']"
											},
											"sink": {
												"name": "num_employees",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['ReSequenceType']"
											},
											"sink": {
												"name": "ReSequenceType",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['route_brws_desc']"
											},
											"sink": {
												"name": "route_brws_desc",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['route_cycle']"
											},
											"sink": {
												"name": "route_cycle",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['route_description']"
											},
											"sink": {
												"name": "route_description",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['route_inv_desc']"
											},
											"sink": {
												"name": "route_inv_desc",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['route_MDT_desc']"
											},
											"sink": {
												"name": "route_MDT_desc",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['route_no']"
											},
											"sink": {
												"name": "route_no",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['route_type']"
											},
											"sink": {
												"name": "route_type",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['Saturday']"
											},
											"sink": {
												"name": "Saturday",
												"type": "Boolean"
											}
										},
										{
											"source": {
												"path": "['serv_code']"
											},
											"sink": {
												"name": "serv_code",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['shift_no']"
											},
											"sink": {
												"name": "shift_no",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['Sunday']"
											},
											"sink": {
												"name": "Sunday",
												"type": "Boolean"
											}
										},
										{
											"source": {
												"path": "['supervisor_no']"
											},
											"sink": {
												"name": "supervisor_no",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['team_no']"
											},
											"sink": {
												"name": "team_no",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['Thursday']"
											},
											"sink": {
												"name": "Thursday",
												"type": "Boolean"
											}
										},
										{
											"source": {
												"path": "['truck_no']"
											},
											"sink": {
												"name": "truck_no",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['Tuesday']"
											},
											"sink": {
												"name": "Tuesday",
												"type": "Boolean"
											}
										},
										{
											"source": {
												"path": "['update_timestamp']"
											},
											"sink": {
												"name": "update_timestamp",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "['update_user_id']"
											},
											"sink": {
												"name": "update_user_id",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['UpdateProgram']"
											},
											"sink": {
												"name": "UpdateProgram",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['Wednesday']"
											},
											"sink": {
												"name": "Wednesday",
												"type": "Boolean"
											}
										}
									],
									"collectionReference": "$['result']"
								}
							},
							"inputs": [
								{
									"referenceName": "DataLake",
									"type": "DatasetReference",
									"parameters": {
										"EffectiveDate": {
											"value": "@pipeline().parameters.pStartDate",
											"type": "Expression"
										},
										"ContainerName": {
											"value": "route",
											"type": "Expression"
										},
										"DatasetName": {
											"value": "route",
											"type": "Expression"
										},
										"Instance": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DBTable",
									"type": "DatasetReference",
									"parameters": {
										"TableName": {
											"value": "@concat('route_',item())",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Service to DB",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Booking to DB",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "upsert",
									"upsertSettings": {
										"useTempDB": true,
										"keys": [
											"id"
										]
									},
									"sqlWriterUseTableLock": true,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"enableSkipIncompatibleRow": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "['$id']"
											},
											"sink": {
												"name": "id",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['alt_ref_serv_1']"
											},
											"sink": {
												"name": "alt_ref_serv_1",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['alt_ref_serv_2']"
											},
											"sink": {
												"name": "alt_ref_serv_2",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['application_id']"
											},
											"sink": {
												"name": "application_id",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['ApplyMinimumBookingPriceTo']"
											},
											"sink": {
												"name": "ApplyMinimumBookingPriceTo",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['bill_cycle']"
											},
											"sink": {
												"name": "bill_cycle",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['BillingQtySwitch']"
											},
											"sink": {
												"name": "BillingQtySwitch",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['budget_lifts']"
											},
											"sink": {
												"name": "budget_lifts",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['cancel_serv_date']"
											},
											"sink": {
												"name": "cancel_serv_date",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "['chargeable']"
											},
											"sink": {
												"name": "chargeable",
												"type": "Boolean"
											}
										},
										{
											"source": {
												"path": "['container_type']"
											},
											"sink": {
												"name": "container_type",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['containers']"
											},
											"sink": {
												"name": "containers",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['contract_desc_1']"
											},
											"sink": {
												"name": "contract_desc_1",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['contract_desc_2']"
											},
											"sink": {
												"name": "contract_desc_2",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['contract_desc_3']"
											},
											"sink": {
												"name": "contract_desc_3",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['contract_desc_4']"
											},
											"sink": {
												"name": "contract_desc_4",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['contract_end_date']"
											},
											"sink": {
												"name": "contract_end_date",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "['contract_no']"
											},
											"sink": {
												"name": "contract_no",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['contract_str_date']"
											},
											"sink": {
												"name": "contract_str_date",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "['contractor_no']"
											},
											"sink": {
												"name": "contractor_no",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['create_timestamp']"
											},
											"sink": {
												"name": "create_timestamp",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "['create_user_id']"
											},
											"sink": {
												"name": "create_user_id",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['currency_code']"
											},
											"sink": {
												"name": "currency_code",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['customer']"
											},
											"sink": {
												"name": "customer",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['destruction_certificate_required']"
											},
											"sink": {
												"name": "destruction_certificate_required",
												"type": "Boolean"
											}
										},
										{
											"source": {
												"path": "['disposal_charge_desc']"
											},
											"sink": {
												"name": "disposal_charge_desc",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['disposal_charge_desc2']"
											},
											"sink": {
												"name": "disposal_charge_desc2",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['disposal_charge_desc3']"
											},
											"sink": {
												"name": "disposal_charge_desc3",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['disposal_charge_desc_ex']"
											},
											"sink": {
												"name": "disposal_charge_desc_ex",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['disposal_charge_rate']"
											},
											"sink": {
												"name": "disposal_charge_rate",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['disposal_charge_rate2']"
											},
											"sink": {
												"name": "disposal_charge_rate2",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['disposal_charge_rate3']"
											},
											"sink": {
												"name": "disposal_charge_rate3",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['disposal_charge_rate_ex']"
											},
											"sink": {
												"name": "disposal_charge_rate_ex",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['disposal_charge_rate_ex2']"
											},
											"sink": {
												"name": "disposal_charge_rate_ex2",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['disposal_charge_rate_ex3']"
											},
											"sink": {
												"name": "disposal_charge_rate_ex3",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['disposal_charge_type']"
											},
											"sink": {
												"name": "disposal_charge_type",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['disposal_charge_type2']"
											},
											"sink": {
												"name": "disposal_charge_type2",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['disposal_charge_type3']"
											},
											"sink": {
												"name": "disposal_charge_type3",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['disposal_charge_type_ex']"
											},
											"sink": {
												"name": "disposal_charge_type_ex",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['disposal_charge_type_ex2']"
											},
											"sink": {
												"name": "disposal_charge_type_ex2",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['disposal_charge_type_ex3']"
											},
											"sink": {
												"name": "disposal_charge_type_ex3",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['disposal_default_weight']"
											},
											"sink": {
												"name": "disposal_default_weight",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['disposal_default_weight_max']"
											},
											"sink": {
												"name": "disposal_default_weight_max",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['disposal_default_weight_min']"
											},
											"sink": {
												"name": "disposal_default_weight_min",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['disposal_incl_charge']"
											},
											"sink": {
												"name": "disposal_incl_charge",
												"type": "Boolean"
											}
										},
										{
											"source": {
												"path": "['Disposal_Levy1Desc']"
											},
											"sink": {
												"name": "Disposal_Levy1Desc",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['Disposal_Levy1Rate']"
											},
											"sink": {
												"name": "Disposal_Levy1Rate",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['Disposal_Levy1Type']"
											},
											"sink": {
												"name": "Disposal_Levy1Type",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['disposal_site']"
											},
											"sink": {
												"name": "disposal_site",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['disposal_unit_meas']"
											},
											"sink": {
												"name": "disposal_unit_meas",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['disposal_weight_limit_ex']"
											},
											"sink": {
												"name": "disposal_weight_limit_ex",
												"type": "Double"
											}
										},
										{
											"source": {
												"path": "['disposal_weight_limit_ex2']"
											},
											"sink": {
												"name": "disposal_weight_limit_ex2",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['disposal_weight_limit_ex3']"
											},
											"sink": {
												"name": "disposal_weight_limit_ex3",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['Disposal_weight_min']"
											},
											"sink": {
												"name": "Disposal_weight_min",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['facility_code']"
											},
											"sink": {
												"name": "facility_code",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['facility_number']"
											},
											"sink": {
												"name": "facility_number",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['float_next_date']"
											},
											"sink": {
												"name": "float_next_date",
												"type": "Boolean"
											}
										},
										{
											"source": {
												"path": "['frequency']"
											},
											"sink": {
												"name": "frequency",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['import_id']"
											},
											"sink": {
												"name": "import_id",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['indemnification_on_file']"
											},
											"sink": {
												"name": "indemnification_on_file",
												"type": "Boolean"
											}
										},
										{
											"source": {
												"path": "['initial_serv_date']"
											},
											"sink": {
												"name": "initial_serv_date",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "['InvoiceDescription']"
											},
											"sink": {
												"name": "InvoiceDescription",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['last_bill_date']"
											},
											"sink": {
												"name": "last_bill_date",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "['line_no']"
											},
											"sink": {
												"name": "line_no",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['line_notes_1']"
											},
											"sink": {
												"name": "line_notes_1",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['line_notes_2']"
											},
											"sink": {
												"name": "line_notes_2",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['line_notes_3']"
											},
											"sink": {
												"name": "line_notes_3",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['line_notes_4']"
											},
											"sink": {
												"name": "line_notes_4",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['next_bill_date']"
											},
											"sink": {
												"name": "next_bill_date",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "['next_care_cert_due']"
											},
											"sink": {
												"name": "next_care_cert_due",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "['org']"
											},
											"sink": {
												"name": "org",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['owned_flag']"
											},
											"sink": {
												"name": "owned_flag",
												"type": "Boolean"
											}
										},
										{
											"source": {
												"path": "['ParentService']"
											},
											"sink": {
												"name": "ParentService",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['pickup_days']"
											},
											"sink": {
												"name": "pickup_days",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['po_no']"
											},
											"sink": {
												"name": "po_no",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['POChain']"
											},
											"sink": {
												"name": "POChain",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['pref_serv_time']"
											},
											"sink": {
												"name": "pref_serv_time",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['price_increase_exempt_date']"
											},
											"sink": {
												"name": "price_increase_exempt_date",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "['rate_exempt']"
											},
											"sink": {
												"name": "rate_exempt",
												"type": "Boolean"
											}
										},
										{
											"source": {
												"path": "['rent_days']"
											},
											"sink": {
												"name": "rent_days",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['rent_free_days']"
											},
											"sink": {
												"name": "rent_free_days",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['repeating_loads']"
											},
											"sink": {
												"name": "repeating_loads",
												"type": "Boolean"
											}
										},
										{
											"source": {
												"path": "['route']"
											},
											"sink": {
												"name": "route",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['route_collection']"
											},
											"sink": {
												"name": "route_collection",
												"type": "Boolean"
											}
										},
										{
											"source": {
												"path": "['route_cycle']"
											},
											"sink": {
												"name": "route_cycle",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['route_directions_1']"
											},
											"sink": {
												"name": "route_directions_1",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['route_directions_2']"
											},
											"sink": {
												"name": "route_directions_2",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['route_directions_3']"
											},
											"sink": {
												"name": "route_directions_3",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['route_directions_4']"
											},
											"sink": {
												"name": "route_directions_4",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['sales_id_1']"
											},
											"sink": {
												"name": "sales_id_1",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['sch_end_time']"
											},
											"sink": {
												"name": "sch_end_time",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['sch_start_time']"
											},
											"sink": {
												"name": "sch_start_time",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['SendTipFeeAttachments']"
											},
											"sink": {
												"name": "SendTipFeeAttachments",
												"type": "Boolean"
											}
										},
										{
											"source": {
												"path": "['serv_code']"
											},
											"sink": {
												"name": "serv_code",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['serv_type']"
											},
											"sink": {
												"name": "serv_type",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['SharedService']"
											},
											"sink": {
												"name": "SharedService",
												"type": "Boolean"
											}
										},
										{
											"source": {
												"path": "['site_location_ref_no']"
											},
											"sink": {
												"name": "site_location_ref_no",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['subcontractor_line_no']"
											},
											"sink": {
												"name": "subcontractor_line_no",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['temp_code']"
											},
											"sink": {
												"name": "temp_code",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['ticket_required']"
											},
											"sink": {
												"name": "ticket_required",
												"type": "Boolean"
											}
										},
										{
											"source": {
												"path": "['Time_at_site']"
											},
											"sink": {
												"name": "Time_at_site",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['update_timestamp']"
											},
											"sink": {
												"name": "update_timestamp",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "['update_user_id']"
											},
											"sink": {
												"name": "update_user_id",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['UpdateProgram']"
											},
											"sink": {
												"name": "UpdateProgram",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['UseForAllSites']"
											},
											"sink": {
												"name": "UseForAllSites",
												"type": "Boolean"
											}
										},
										{
											"source": {
												"path": "['UsePOChain']"
											},
											"sink": {
												"name": "UsePOChain",
												"type": "Boolean"
											}
										},
										{
											"source": {
												"path": "['waste_type']"
											},
											"sink": {
												"name": "waste_type",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['we_price_code']"
											},
											"sink": {
												"name": "we_price_code",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['WeightLimitSwitch']"
											},
											"sink": {
												"name": "WeightLimitSwitch",
												"type": "String"
											}
										}
									],
									"collectionReference": "$['result']"
								}
							},
							"inputs": [
								{
									"referenceName": "DataLake",
									"type": "DatasetReference",
									"parameters": {
										"EffectiveDate": {
											"value": "@pipeline().parameters.pStartDate",
											"type": "Expression"
										},
										"ContainerName": {
											"value": "service",
											"type": "Expression"
										},
										"DatasetName": {
											"value": "service",
											"type": "Expression"
										},
										"Instance": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DBTable",
									"type": "DatasetReference",
									"parameters": {
										"TableName": {
											"value": "@concat('service_',item())",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Scheduled Service to DB",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Service to DB",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"preCopyScript": "delete from scheduled_service_wsgvic",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": true,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "['$id']"
											},
											"sink": {
												"name": "id",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['Active']"
											},
											"sink": {
												"name": "Active",
												"type": "Boolean"
											}
										},
										{
											"source": {
												"path": "['cont_number']"
											},
											"sink": {
												"name": "cont_number",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['create_timestamp']"
											},
											"sink": {
												"name": "create_timestamp",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "['create_user_id']"
											},
											"sink": {
												"name": "create_user_id",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['customer']"
											},
											"sink": {
												"name": "customer",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['display_order']"
											},
											"sink": {
												"name": "display_order",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['EndDate']"
											},
											"sink": {
												"name": "EndDate",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "['ending_house']"
											},
											"sink": {
												"name": "ending_house",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['expected_metres']"
											},
											"sink": {
												"name": "expected_metres",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['first_service_date']"
											},
											"sink": {
												"name": "first_service_date",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "['import_id']"
											},
											"sink": {
												"name": "import_id",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['last_mdt_seq']"
											},
											"sink": {
												"name": "last_mdt_seq",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['line_no']"
											},
											"sink": {
												"name": "line_no",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['line_type']"
											},
											"sink": {
												"name": "line_type",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['navigation']"
											},
											"sink": {
												"name": "navigation",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['next_service_date']"
											},
											"sink": {
												"name": "next_service_date",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "['route_line']"
											},
											"sink": {
												"name": "route_line",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['route_msg']"
											},
											"sink": {
												"name": "route_msg",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['route_no']"
											},
											"sink": {
												"name": "route_no",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['schedule_no']"
											},
											"sink": {
												"name": "schedule_no",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['section']"
											},
											"sink": {
												"name": "section",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['segment_length']"
											},
											"sink": {
												"name": "segment_length",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['shift_no']"
											},
											"sink": {
												"name": "shift_no",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['StartDate']"
											},
											"sink": {
												"name": "StartDate",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "['street_code']"
											},
											"sink": {
												"name": "street_code",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['update_timestamp']"
											},
											"sink": {
												"name": "update_timestamp",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "['update_user_id']"
											},
											"sink": {
												"name": "update_user_id",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['UpdateProgram']"
											},
											"sink": {
												"name": "UpdateProgram",
												"type": "String"
											}
										}
									],
									"collectionReference": "$['result']"
								}
							},
							"inputs": [
								{
									"referenceName": "DataLake",
									"type": "DatasetReference",
									"parameters": {
										"EffectiveDate": {
											"value": "@pipeline().parameters.pStartDate",
											"type": "Expression"
										},
										"ContainerName": {
											"value": "scheduledservice",
											"type": "Expression"
										},
										"DatasetName": {
											"value": "scheduled_service",
											"type": "Expression"
										},
										"Instance": {
											"value": "wsgvic",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DBTable",
									"type": "DatasetReference",
									"parameters": {
										"TableName": {
											"value": "@concat('scheduled_service_',item())",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Tip Fee to DB",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Scheduled Service to DB",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": true,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"enableSkipIncompatibleRow": true,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "['$id']"
											},
											"sink": {
												"name": "id",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['alt_qty']"
											},
											"sink": {
												"name": "alt_qty",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['alt_qty_unit']"
											},
											"sink": {
												"name": "alt_qty_unit",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['booking']"
											},
											"sink": {
												"name": "booking",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['branch']"
											},
											"sink": {
												"name": "branch",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['cont_id']"
											},
											"sink": {
												"name": "cont_id",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['coord_date']"
											},
											"sink": {
												"name": "coord_date",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "['coord_time']"
											},
											"sink": {
												"name": "coord_time",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['coord_type']"
											},
											"sink": {
												"name": "coord_type",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['create_timestamp']"
											},
											"sink": {
												"name": "create_timestamp",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "['create_user_id']"
											},
											"sink": {
												"name": "create_user_id",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['customer']"
											},
											"sink": {
												"name": "customer",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['date_accrual']"
											},
											"sink": {
												"name": "date_accrual",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "['date_approved']"
											},
											"sink": {
												"name": "date_approved",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "['date_paid']"
											},
											"sink": {
												"name": "date_paid",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "['disposal_charge_desc']"
											},
											"sink": {
												"name": "disposal_charge_desc",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['disposal_charge_desc2']"
											},
											"sink": {
												"name": "disposal_charge_desc2",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['disposal_charge_desc3']"
											},
											"sink": {
												"name": "disposal_charge_desc3",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['disposal_charge_rate']"
											},
											"sink": {
												"name": "disposal_charge_rate",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['disposal_charge_rate2']"
											},
											"sink": {
												"name": "disposal_charge_rate2",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['disposal_charge_rate3']"
											},
											"sink": {
												"name": "disposal_charge_rate3",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['disposal_charge_rate_ex']"
											},
											"sink": {
												"name": "disposal_charge_rate_ex",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['disposal_charge_rate_ex2']"
											},
											"sink": {
												"name": "disposal_charge_rate_ex2",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['disposal_charge_rate_ex3']"
											},
											"sink": {
												"name": "disposal_charge_rate_ex3",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['disposal_charge_type']"
											},
											"sink": {
												"name": "disposal_charge_type",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['disposal_charge_type2']"
											},
											"sink": {
												"name": "disposal_charge_type2",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['disposal_charge_type3']"
											},
											"sink": {
												"name": "disposal_charge_type3",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['disposal_charge_type_ex']"
											},
											"sink": {
												"name": "disposal_charge_type_ex",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['disposal_charge_type_ex2']"
											},
											"sink": {
												"name": "disposal_charge_type_ex2",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['disposal_charge_type_ex3']"
											},
											"sink": {
												"name": "disposal_charge_type_ex3",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['disposal_cost_rate']"
											},
											"sink": {
												"name": "disposal_cost_rate",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['disposal_cost_rate2']"
											},
											"sink": {
												"name": "disposal_cost_rate2",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['disposal_cost_rate3']"
											},
											"sink": {
												"name": "disposal_cost_rate3",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['disposal_cost_rate_ex']"
											},
											"sink": {
												"name": "disposal_cost_rate_ex",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['disposal_cost_rate_type']"
											},
											"sink": {
												"name": "disposal_cost_rate_type",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['disposal_date']"
											},
											"sink": {
												"name": "disposal_date",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "['disposal_incl_charge']"
											},
											"sink": {
												"name": "disposal_incl_charge",
												"type": "Boolean"
											}
										},
										{
											"source": {
												"path": "['disposal_site']"
											},
											"sink": {
												"name": "disposal_site",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['disposal_weight_limit_ex']"
											},
											"sink": {
												"name": "disposal_weight_limit_ex",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['disposal_weight_limit_ex2']"
											},
											"sink": {
												"name": "disposal_weight_limit_ex2",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['disposal_weight_limit_ex3']"
											},
											"sink": {
												"name": "disposal_weight_limit_ex3",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['DisposalServiceFunction']"
											},
											"sink": {
												"name": "DisposalServiceFunction",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['docket_no']"
											},
											"sink": {
												"name": "docket_no",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['driver']"
											},
											"sink": {
												"name": "driver",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['ExternalWeight']"
											},
											"sink": {
												"name": "ExternalWeight",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['geocode_x']"
											},
											"sink": {
												"name": "geocode_x",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['geocode_y']"
											},
											"sink": {
												"name": "geocode_y",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['import_id']"
											},
											"sink": {
												"name": "import_id",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['invoice_number']"
											},
											"sink": {
												"name": "invoice_number",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['Levy1Desc']"
											},
											"sink": {
												"name": "Levy1Desc",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['Levy1Rate']"
											},
											"sink": {
												"name": "Levy1Rate",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['Levy1Type']"
											},
											"sink": {
												"name": "Levy1Type",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['odometer']"
											},
											"sink": {
												"name": "odometer",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['plate_no']"
											},
											"sink": {
												"name": "plate_no",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['route']"
											},
											"sink": {
												"name": "route",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['route_date']"
											},
											"sink": {
												"name": "route_date",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "['route_summary']"
											},
											"sink": {
												"name": "route_summary",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['seq_no']"
											},
											"sink": {
												"name": "seq_no",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['serial_no']"
											},
											"sink": {
												"name": "serial_no",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['shift_no']"
											},
											"sink": {
												"name": "shift_no",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['ticket_number']"
											},
											"sink": {
												"name": "ticket_number",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['ticket_number_old']"
											},
											"sink": {
												"name": "ticket_number_old",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['tip_in_time']"
											},
											"sink": {
												"name": "tip_in_time",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['tip_out_time']"
											},
											"sink": {
												"name": "tip_out_time",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['tip_sub_loc_no']"
											},
											"sink": {
												"name": "tip_sub_loc_no",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['tip_visit_time']"
											},
											"sink": {
												"name": "tip_visit_time",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['total_charge']"
											},
											"sink": {
												"name": "total_charge",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['total_cost']"
											},
											"sink": {
												"name": "total_cost",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['total_cost_entered']"
											},
											"sink": {
												"name": "total_cost_entered",
												"type": "Boolean"
											}
										},
										{
											"source": {
												"path": "['trans_no']"
											},
											"sink": {
												"name": "trans_no",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['trans_seq']"
											},
											"sink": {
												"name": "trans_seq",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['transmit_no']"
											},
											"sink": {
												"name": "transmit_no",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['truck']"
											},
											"sink": {
												"name": "truck",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['update_timestamp']"
											},
											"sink": {
												"name": "update_timestamp",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "['update_user_id']"
											},
											"sink": {
												"name": "update_user_id",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['UpdateProgram']"
											},
											"sink": {
												"name": "UpdateProgram",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['user_approved']"
											},
											"sink": {
												"name": "user_approved",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['volume']"
											},
											"sink": {
												"name": "volume",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['volume_unit']"
											},
											"sink": {
												"name": "volume_unit",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['waste_type']"
											},
											"sink": {
												"name": "waste_type",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['weight']"
											},
											"sink": {
												"name": "weight",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['weight_max']"
											},
											"sink": {
												"name": "weight_max",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['weight_min']"
											},
											"sink": {
												"name": "weight_min",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['weight_orig']"
											},
											"sink": {
												"name": "weight_orig",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['weight_unit']"
											},
											"sink": {
												"name": "weight_unit",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['WeightIn']"
											},
											"sink": {
												"name": "WeightIn",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['WeightOut']"
											},
											"sink": {
												"name": "WeightOut",
												"type": "Decimal"
											}
										}
									],
									"collectionReference": "$['result']"
								}
							},
							"inputs": [
								{
									"referenceName": "DataLake",
									"type": "DatasetReference",
									"parameters": {
										"EffectiveDate": {
											"value": "@pipeline().parameters.pStartDate",
											"type": "Expression"
										},
										"ContainerName": {
											"value": "tipfee",
											"type": "Expression"
										},
										"DatasetName": {
											"value": "tip_fee",
											"type": "Expression"
										},
										"Instance": {
											"value": "wsgvic",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DBTable",
									"type": "DatasetReference",
									"parameters": {
										"TableName": {
											"value": "@concat('tip_fee_',item())",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Route Tip Fee to DB",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Tip Fee to DB",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "upsert",
									"upsertSettings": {
										"useTempDB": true,
										"keys": [
											"id"
										]
									},
									"sqlWriterUseTableLock": true,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"enableSkipIncompatibleRow": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "['$id']"
											},
											"sink": {
												"name": "id",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['alt_qty']"
											},
											"sink": {
												"name": "alt_qty",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['alt_qty_unit']"
											},
											"sink": {
												"name": "alt_qty_unit",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['branch']"
											},
											"sink": {
												"name": "branch",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['cont_id']"
											},
											"sink": {
												"name": "cont_id",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['coord_date']"
											},
											"sink": {
												"name": "coord_date",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['coord_time']"
											},
											"sink": {
												"name": "coord_time",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['coord_type']"
											},
											"sink": {
												"name": "coord_type",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['create_timestamp']"
											},
											"sink": {
												"name": "create_timestamp",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "['create_user_id']"
											},
											"sink": {
												"name": "create_user_id",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['customer']"
											},
											"sink": {
												"name": "customer",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['date_accrual']"
											},
											"sink": {
												"name": "date_accrual",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "['date_approved']"
											},
											"sink": {
												"name": "date_approved",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "['date_paid']"
											},
											"sink": {
												"name": "date_paid",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "['disposal_charge_desc']"
											},
											"sink": {
												"name": "disposal_charge_desc",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['disposal_charge_desc2']"
											},
											"sink": {
												"name": "disposal_charge_desc2",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['disposal_charge_desc3']"
											},
											"sink": {
												"name": "disposal_charge_desc3",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['disposal_charge_rate']"
											},
											"sink": {
												"name": "disposal_charge_rate",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['disposal_charge_rate2']"
											},
											"sink": {
												"name": "disposal_charge_rate2",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['disposal_charge_rate3']"
											},
											"sink": {
												"name": "disposal_charge_rate3",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['disposal_charge_rate_ex']"
											},
											"sink": {
												"name": "disposal_charge_rate_ex",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['disposal_charge_rate_ex2']"
											},
											"sink": {
												"name": "disposal_charge_rate_ex2",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['disposal_charge_rate_ex3']"
											},
											"sink": {
												"name": "disposal_charge_rate_ex3",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['disposal_charge_type']"
											},
											"sink": {
												"name": "disposal_charge_type",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['disposal_charge_type2']"
											},
											"sink": {
												"name": "disposal_charge_type2",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['disposal_charge_type3']"
											},
											"sink": {
												"name": "disposal_charge_type3",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['disposal_charge_type_ex']"
											},
											"sink": {
												"name": "disposal_charge_type_ex",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['disposal_charge_type_ex2']"
											},
											"sink": {
												"name": "disposal_charge_type_ex2",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['disposal_charge_type_ex3']"
											},
											"sink": {
												"name": "disposal_charge_type_ex3",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['disposal_cost_rate']"
											},
											"sink": {
												"name": "disposal_cost_rate",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['disposal_cost_rate2']"
											},
											"sink": {
												"name": "disposal_cost_rate2",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['disposal_cost_rate3']"
											},
											"sink": {
												"name": "disposal_cost_rate3",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['disposal_cost_rate_ex']"
											},
											"sink": {
												"name": "disposal_cost_rate_ex",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['disposal_cost_rate_type']"
											},
											"sink": {
												"name": "disposal_cost_rate_type",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['disposal_date']"
											},
											"sink": {
												"name": "disposal_date",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "['disposal_incl_charge']"
											},
											"sink": {
												"name": "disposal_incl_charge",
												"type": "Boolean"
											}
										},
										{
											"source": {
												"path": "['disposal_site']"
											},
											"sink": {
												"name": "disposal_site",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['disposal_weight_limit_ex']"
											},
											"sink": {
												"name": "disposal_weight_limit_ex",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['disposal_weight_limit_ex2']"
											},
											"sink": {
												"name": "disposal_weight_limit_ex2",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['disposal_weight_limit_ex3']"
											},
											"sink": {
												"name": "disposal_weight_limit_ex3",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['DisposalServiceFunction']"
											},
											"sink": {
												"name": "DisposalServiceFunction",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['docket_no']"
											},
											"sink": {
												"name": "docket_no",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['driver']"
											},
											"sink": {
												"name": "driver",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['ExternalWeight']"
											},
											"sink": {
												"name": "ExternalWeight",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['geocode_x']"
											},
											"sink": {
												"name": "geocode_x",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['geocode_y']"
											},
											"sink": {
												"name": "geocode_y",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['import_id']"
											},
											"sink": {
												"name": "import_id",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['invoice_number']"
											},
											"sink": {
												"name": "invoice_number",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['Levy1Desc']"
											},
											"sink": {
												"name": "Levy1Desc",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['Levy1Rate']"
											},
											"sink": {
												"name": "Levy1Rate",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['Levy1Type']"
											},
											"sink": {
												"name": "Levy1Type",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['odometer']"
											},
											"sink": {
												"name": "odometer",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['plate_no']"
											},
											"sink": {
												"name": "plate_no",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['route']"
											},
											"sink": {
												"name": "route",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['route_date']"
											},
											"sink": {
												"name": "route_date",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "['route_summary']"
											},
											"sink": {
												"name": "route_summary",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['seq_no']"
											},
											"sink": {
												"name": "seq_no",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['serial_no']"
											},
											"sink": {
												"name": "serial_no",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['shift_no']"
											},
											"sink": {
												"name": "shift_no",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['ticket_number']"
											},
											"sink": {
												"name": "ticket_number",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['ticket_number_old']"
											},
											"sink": {
												"name": "ticket_number_old",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['tip_in_time']"
											},
											"sink": {
												"name": "tip_in_time",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['tip_out_time']"
											},
											"sink": {
												"name": "tip_out_time",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['tip_sub_loc_no']"
											},
											"sink": {
												"name": "tip_sub_loc_no",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['tip_visit_time']"
											},
											"sink": {
												"name": "tip_visit_time",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['total_charge']"
											},
											"sink": {
												"name": "total_charge",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['total_cost']"
											},
											"sink": {
												"name": "total_cost",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['total_cost_entered']"
											},
											"sink": {
												"name": "total_cost_entered",
												"type": "Boolean"
											}
										},
										{
											"source": {
												"path": "['trans_no']"
											},
											"sink": {
												"name": "trans_no",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['trans_seq']"
											},
											"sink": {
												"name": "trans_seq",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['transmit_no']"
											},
											"sink": {
												"name": "transmit_no",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['truck']"
											},
											"sink": {
												"name": "truck",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['update_timestamp']"
											},
											"sink": {
												"name": "update_timestamp",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "['update_user_id']"
											},
											"sink": {
												"name": "update_user_id",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['UpdateProgram']"
											},
											"sink": {
												"name": "UpdateProgram",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['user_approved']"
											},
											"sink": {
												"name": "user_approved",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['volume']"
											},
											"sink": {
												"name": "volume",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['volume_unit']"
											},
											"sink": {
												"name": "volume_unit",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['waste_type']"
											},
											"sink": {
												"name": "waste_type",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['weight']"
											},
											"sink": {
												"name": "weight",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['weight_max']"
											},
											"sink": {
												"name": "weight_max",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['weight_min']"
											},
											"sink": {
												"name": "weight_min",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['weight_orig']"
											},
											"sink": {
												"name": "weight_orig",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['weight_unit']"
											},
											"sink": {
												"name": "weight_unit",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['WeightIn']"
											},
											"sink": {
												"name": "WeightIn",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['WeightOut']"
											},
											"sink": {
												"name": "WeightOut",
												"type": "Decimal"
											}
										}
									],
									"collectionReference": "$['result']"
								}
							},
							"inputs": [
								{
									"referenceName": "DataLake",
									"type": "DatasetReference",
									"parameters": {
										"EffectiveDate": {
											"value": "@pipeline().parameters.pStartDate",
											"type": "Expression"
										},
										"ContainerName": {
											"value": "routetipfee",
											"type": "Expression"
										},
										"DatasetName": {
											"value": "route_tip_fee",
											"type": "Expression"
										},
										"Instance": {
											"value": "wsgvic",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DBTable",
									"type": "DatasetReference",
									"parameters": {
										"TableName": {
											"value": "@concat('route_tip_fee_',item())",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "scheduled Service to Data Lake",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "For Each Entity",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"supportRFC5988": "true",
							"EndCondition:$.has_more": "Const:false",
							"QueryParameters.$start": "$.next_result"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "RestAPI_Date",
						"type": "DatasetReference",
						"parameters": {
							"pStartDate": {
								"value": "@pipeline().parameters.pStartDate",
								"type": "Expression"
							},
							"pEndDate": {
								"value": "@pipeline().parameters.pEndDate",
								"type": "Expression"
							},
							"API_Instance": {
								"value": "customer/scheduled_service",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DataLake",
						"type": "DatasetReference",
						"parameters": {
							"EffectiveDate": {
								"value": "@pipeline().parameters.pStartDate",
								"type": "Expression"
							},
							"ContainerName": {
								"value": "scheduledservice",
								"type": "Expression"
							},
							"DatasetName": {
								"value": "scheduled_service",
								"type": "Expression"
							},
							"Instance": {
								"value": "wsgvic",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Route Tip Fee to Data Lake",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "scheduled Service to Data Lake",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"supportRFC5988": "true",
							"EndCondition:$.has_more": "Const:false",
							"QueryParameters.$start": "$.next_result"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "RestAPI_Date",
						"type": "DatasetReference",
						"parameters": {
							"pStartDate": {
								"value": "@pipeline().parameters.pStartDate",
								"type": "Expression"
							},
							"pEndDate": {
								"value": "@pipeline().parameters.pEndDate",
								"type": "Expression"
							},
							"API_Instance": {
								"value": "vehicle/route_tip_fee",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DataLake",
						"type": "DatasetReference",
						"parameters": {
							"EffectiveDate": {
								"value": "@pipeline().parameters.pStartDate",
								"type": "Expression"
							},
							"ContainerName": {
								"value": "routetipfee",
								"type": "Expression"
							},
							"DatasetName": {
								"value": "route_tip_fee",
								"type": "Expression"
							},
							"Instance": {
								"value": "wsgvic",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Tip Fee to Data Lake",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Route Tip Fee to Data Lake",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"supportRFC5988": "true",
							"EndCondition:$.has_more": "Const:false",
							"QueryParameters.$start": "$.next_result"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "RestAPI_Date",
						"type": "DatasetReference",
						"parameters": {
							"pStartDate": {
								"value": "@pipeline().parameters.pStartDate",
								"type": "Expression"
							},
							"pEndDate": {
								"value": "@pipeline().parameters.pEndDate",
								"type": "Expression"
							},
							"API_Instance": {
								"value": "vehicle/tip_fee",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DataLake",
						"type": "DatasetReference",
						"parameters": {
							"EffectiveDate": {
								"value": "@pipeline().parameters.pStartDate",
								"type": "Expression"
							},
							"ContainerName": {
								"value": "tipfee",
								"type": "Expression"
							},
							"DatasetName": {
								"value": "tip_fee",
								"type": "Expression"
							},
							"Instance": {
								"value": "wsgvic",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"parameters": {
			"pStartDate": {
				"type": "string"
			},
			"pEndDate": {
				"type": "string"
			}
		},
		"variables": {
			"Entity": {
				"type": "Array",
				"defaultValue": [
					"customer/customer",
					"booking/booking",
					"vehicle/route",
					"customer/service"
				]
			},
			"Instance": {
				"type": "Array",
				"defaultValue": [
					"wsgvic"
				]
			},
			"StartDate": {
				"type": "String"
			},
			"EndDate": {
				"type": "String"
			},
			"Debug": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-02-29T22:48:57Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}