pipeline/PL_WSG_query_wflex.json
{
	"name": "PL_WSG_query_wflex",
	"properties": {
		"activities": [
			{
				"name": "For Each Entity",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('Entity')",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 3,
					"activities": [
						{
							"name": "Copy to DataLake WASTEFLEX",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"paginationRules": {
										"supportRFC5988": "true",
										"EndCondition:$.has_more": "Const:false",
										"QueryParameters.$start": "$.next_result"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "WFLEX",
									"type": "DatasetReference",
									"parameters": {
										"Dataset": {
											"value": "@split(item(),'.')[1]",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DataLake",
									"type": "DatasetReference",
									"parameters": {
										"EffectiveDate": {
											"value": "@formatDateTime(utcnow(),'yyyy-MM-dd')",
											"type": "Expression"
										},
										"ContainerName": {
											"value": "@split(item(),'.')[0]",
											"type": "Expression"
										},
										"DatasetName": {
											"value": "@split(item(),'/')[1]",
											"type": "Expression"
										},
										"Instance": {
											"value": "wflex",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "For Each Instance",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "For Each Entity",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('Instance')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Vehicle to DB",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "upsert",
									"upsertSettings": {
										"useTempDB": true,
										"keys": [
											"truck_no"
										]
									},
									"sqlWriterUseTableLock": true,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "['authoristation_no']"
											},
											"sink": {
												"name": "authoristation_no",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['branch']"
											},
											"sink": {
												"name": "branch",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['CallSign']"
											},
											"sink": {
												"name": "CallSign",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['cert_waste_type']"
											},
											"sink": {
												"name": "cert_waste_type",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['class']"
											},
											"sink": {
												"name": "class",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['container_type']"
											},
											"sink": {
												"name": "container_type",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['current_hour_meter']"
											},
											"sink": {
												"name": "current_hour_meter",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['current_odometer']"
											},
											"sink": {
												"name": "current_odometer",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['current_reading_date']"
											},
											"sink": {
												"name": "current_reading_date",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "['cust_number']"
											},
											"sink": {
												"name": "cust_number",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['customer_truck']"
											},
											"sink": {
												"name": "customer_truck",
												"type": "Boolean"
											}
										},
										{
											"source": {
												"path": "['Disabled']"
											},
											"sink": {
												"name": "Disabled",
												"type": "Boolean"
											}
										},
										{
											"source": {
												"path": "['import_id']"
											},
											"sink": {
												"name": "import_id",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['last_pm_code']"
											},
											"sink": {
												"name": "last_pm_code",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['last_pm_date']"
											},
											"sink": {
												"name": "last_pm_date",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "['last_pm_hour_meter']"
											},
											"sink": {
												"name": "last_pm_hour_meter",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['last_pm_odometer']"
											},
											"sink": {
												"name": "last_pm_odometer",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['last_pm_order_no']"
											},
											"sink": {
												"name": "last_pm_order_no",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['last_waste_type']"
											},
											"sink": {
												"name": "last_waste_type",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['ledger_account']"
											},
											"sink": {
												"name": "ledger_account",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['ledger_account_RI']"
											},
											"sink": {
												"name": "ledger_account_RI",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['MaximumWeight']"
											},
											"sink": {
												"name": "MaximumWeight",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['MDTserial']"
											},
											"sink": {
												"name": "MDTserial",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['min_tonnage']"
											},
											"sink": {
												"name": "min_tonnage",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['plate_no']"
											},
											"sink": {
												"name": "plate_no",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['registered_gross_mass']"
											},
											"sink": {
												"name": "registered_gross_mass",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['tare_average']"
											},
											"sink": {
												"name": "tare_average",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['tare_date_1']"
											},
											"sink": {
												"name": "tare_date_1",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "['tare_date_2']"
											},
											"sink": {
												"name": "tare_date_2",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "['tare_date_3']"
											},
											"sink": {
												"name": "tare_date_3",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "['tare_date_4']"
											},
											"sink": {
												"name": "tare_date_4",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "['tare_date_5']"
											},
											"sink": {
												"name": "tare_date_5",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "['tare_date_6']"
											},
											"sink": {
												"name": "tare_date_6",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "['tare_date_7']"
											},
											"sink": {
												"name": "tare_date_7",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "['tare_date_8']"
											},
											"sink": {
												"name": "tare_date_8",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "['tare_date_9']"
											},
											"sink": {
												"name": "tare_date_9",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "['tare_date_10']"
											},
											"sink": {
												"name": "tare_date_10",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "['tare_expiry']"
											},
											"sink": {
												"name": "tare_expiry",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "['tare_wgt_1']"
											},
											"sink": {
												"name": "tare_wgt_1",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['tare_wgt_2']"
											},
											"sink": {
												"name": "tare_wgt_2",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['tare_wgt_3']"
											},
											"sink": {
												"name": "tare_wgt_3",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['tare_wgt_4']"
											},
											"sink": {
												"name": "tare_wgt_4",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['tare_wgt_5']"
											},
											"sink": {
												"name": "tare_wgt_5",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['tare_wgt_6']"
											},
											"sink": {
												"name": "tare_wgt_6",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['tare_wgt_7']"
											},
											"sink": {
												"name": "tare_wgt_7",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['tare_wgt_8']"
											},
											"sink": {
												"name": "tare_wgt_8",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['tare_wgt_9']"
											},
											"sink": {
												"name": "tare_wgt_9",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['tare_wgt_10']"
											},
											"sink": {
												"name": "tare_wgt_10",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['truck_no']"
											},
											"sink": {
												"name": "truck_no",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['valid_from_date']"
											},
											"sink": {
												"name": "valid_from_date",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "['valid_to_date']"
											},
											"sink": {
												"name": "valid_to_date",
												"type": "DateTime"
											}
										}
									],
									"collectionReference": "$['result']"
								}
							},
							"inputs": [
								{
									"referenceName": "DataLake",
									"type": "DatasetReference",
									"parameters": {
										"EffectiveDate": {
											"value": "@formatDateTime(utcnow(),'yyyy-MM-dd')",
											"type": "Expression"
										},
										"ContainerName": {
											"value": "vehicle",
											"type": "Expression"
										},
										"DatasetName": {
											"value": "vehicle",
											"type": "Expression"
										},
										"Instance": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DBTable",
									"type": "DatasetReference",
									"parameters": {
										"TableName": {
											"value": "@concat('vehicle_',item())",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Unit of Measure into DB",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Vehicle to DB",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "upsert",
									"upsertSettings": {
										"useTempDB": true,
										"keys": [
											"uom"
										]
									},
									"sqlWriterUseTableLock": false,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "['Conversion']"
											},
											"sink": {
												"name": "Conversion",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['descr']"
											},
											"sink": {
												"name": "descr",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['import_id']"
											},
											"sink": {
												"name": "import_id",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['level']"
											},
											"sink": {
												"name": "level",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['metric_conversion']"
											},
											"sink": {
												"name": "metric_conversion",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['preferred']"
											},
											"sink": {
												"name": "preferred",
												"type": "Boolean"
											}
										},
										{
											"source": {
												"path": "['reference']"
											},
											"sink": {
												"name": "reference",
												"type": "Boolean"
											}
										},
										{
											"source": {
												"path": "['type']"
											},
											"sink": {
												"name": "type",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['uom']"
											},
											"sink": {
												"name": "uom",
												"type": "String"
											}
										}
									],
									"collectionReference": "$['result']"
								}
							},
							"inputs": [
								{
									"referenceName": "DataLake",
									"type": "DatasetReference",
									"parameters": {
										"EffectiveDate": {
											"value": "@formatDateTime(utcnow(),'yyyy-MM-dd')",
											"type": "Expression"
										},
										"ContainerName": {
											"value": "system",
											"type": "Expression"
										},
										"DatasetName": {
											"value": "unit_of_measure",
											"type": "Expression"
										},
										"Instance": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DBTable",
									"type": "DatasetReference",
									"parameters": {
										"TableName": {
											"value": "@concat('unit_of_measure_',item())",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Container to DB",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Unit of Measure into DB",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "upsert",
									"upsertSettings": {
										"useTempDB": true,
										"keys": [
											"container_type"
										]
									},
									"sqlWriterUseTableLock": true,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "['Active']"
											},
											"sink": {
												"name": "Active",
												"type": "Boolean"
											}
										},
										{
											"source": {
												"path": "['AllowZeroQty']"
											},
											"sink": {
												"name": "AllowZeroQty",
												"type": "Boolean"
											}
										},
										{
											"source": {
												"path": "['CODPortalDescription']"
											},
											"sink": {
												"name": "CODPortalDescription",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['CODPortalImage']"
											},
											"sink": {
												"name": "CODPortalImage",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['CODPortalImageURL']"
											},
											"sink": {
												"name": "CODPortalImageURL",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['component']"
											},
											"sink": {
												"name": "component",
												"type": "Boolean"
											}
										},
										{
											"source": {
												"path": "['cont_brws_desc']"
											},
											"sink": {
												"name": "cont_brws_desc",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['cont_inv_desc']"
											},
											"sink": {
												"name": "cont_inv_desc",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['cont_MDT_desc']"
											},
											"sink": {
												"name": "cont_MDT_desc",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['container_movement']"
											},
											"sink": {
												"name": "container_movement",
												"type": "Boolean"
											}
										},
										{
											"source": {
												"path": "['container_type']"
											},
											"sink": {
												"name": "container_type",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['contwt_uom']"
											},
											"sink": {
												"name": "contwt_uom",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['daily_rental']"
											},
											"sink": {
												"name": "daily_rental",
												"type": "Boolean"
											}
										},
										{
											"source": {
												"path": "['description']"
											},
											"sink": {
												"name": "description",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['height']"
											},
											"sink": {
												"name": "height",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['import_id']"
											},
											"sink": {
												"name": "import_id",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['inventory_item']"
											},
											"sink": {
												"name": "inventory_item",
												"type": "Boolean"
											}
										},
										{
											"source": {
												"path": "['ledger_account']"
											},
											"sink": {
												"name": "ledger_account",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['ledger_account_RI']"
											},
											"sink": {
												"name": "ledger_account_RI",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['length']"
											},
											"sink": {
												"name": "length",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['master_container_type']"
											},
											"sink": {
												"name": "master_container_type",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['price_by']"
											},
											"sink": {
												"name": "price_by",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['serial_tracking']"
											},
											"sink": {
												"name": "serial_tracking",
												"type": "Boolean"
											}
										},
										{
											"source": {
												"path": "['serv_code']"
											},
											"sink": {
												"name": "serv_code",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['size']"
											},
											"sink": {
												"name": "size",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['tare_weight']"
											},
											"sink": {
												"name": "tare_weight",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['UpdateProgram']"
											},
											"sink": {
												"name": "UpdateProgram",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['UpdateUserID']"
											},
											"sink": {
												"name": "UpdateUserID",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['width']"
											},
											"sink": {
												"name": "width",
												"type": "Int32"
											}
										}
									],
									"collectionReference": "$['result']"
								}
							},
							"inputs": [
								{
									"referenceName": "DataLake",
									"type": "DatasetReference",
									"parameters": {
										"EffectiveDate": {
											"value": "@formatDateTime(utcnow(),'yyyy-MM-dd')",
											"type": "Expression"
										},
										"ContainerName": {
											"value": "container",
											"type": "Expression"
										},
										"DatasetName": {
											"value": "container",
											"type": "Expression"
										},
										"Instance": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DBTable",
									"type": "DatasetReference",
									"parameters": {
										"TableName": {
											"value": "@concat('container_',item())",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Waste Type to DB",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Container to DB",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "upsert",
									"upsertSettings": {
										"useTempDB": true,
										"keys": [
											"waste_type"
										]
									},
									"sqlWriterUseTableLock": true,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "['Active']"
											},
											"sink": {
												"name": "Active",
												"type": "Boolean"
											}
										},
										{
											"source": {
												"path": "['billing_unit']"
											},
											"sink": {
												"name": "billing_unit",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['class']"
											},
											"sink": {
												"name": "class",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['CODPortalDescription']"
											},
											"sink": {
												"name": "CODPortalDescription",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['CODPortalImage']"
											},
											"sink": {
												"name": "CODPortalImage",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['CODPortalImageURL']"
											},
											"sink": {
												"name": "CODPortalImageURL",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['density']"
											},
											"sink": {
												"name": "density",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['density_uom']"
											},
											"sink": {
												"name": "density_uom",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['epa_code']"
											},
											"sink": {
												"name": "epa_code",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['hazchem_code']"
											},
											"sink": {
												"name": "hazchem_code",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['import_id']"
											},
											"sink": {
												"name": "import_id",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['InstructionsServFunc']"
											},
											"sink": {
												"name": "InstructionsServFunc",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['landfill_tax_cd']"
											},
											"sink": {
												"name": "landfill_tax_cd",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['ledger_account']"
											},
											"sink": {
												"name": "ledger_account",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['ledger_account_RI']"
											},
											"sink": {
												"name": "ledger_account_RI",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['module_list']"
											},
											"sink": {
												"name": "module_list",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['packing_group']"
											},
											"sink": {
												"name": "packing_group",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['special_instructions']"
											},
											"sink": {
												"name": "special_instructions",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['un_number']"
											},
											"sink": {
												"name": "un_number",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['uom']"
											},
											"sink": {
												"name": "uom",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['UpdateProgram']"
											},
											"sink": {
												"name": "UpdateProgram",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['UpdateUserID']"
											},
											"sink": {
												"name": "UpdateUserID",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['waste_appearance']"
											},
											"sink": {
												"name": "waste_appearance",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['waste_brws_desc']"
											},
											"sink": {
												"name": "waste_brws_desc",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['waste_comp_percent_1']"
											},
											"sink": {
												"name": "waste_comp_percent_1",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['waste_comp_percent_2']"
											},
											"sink": {
												"name": "waste_comp_percent_2",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['waste_comp_percent_3']"
											},
											"sink": {
												"name": "waste_comp_percent_3",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['waste_comp_percent_4']"
											},
											"sink": {
												"name": "waste_comp_percent_4",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['waste_comp_percent_5']"
											},
											"sink": {
												"name": "waste_comp_percent_5",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['waste_description']"
											},
											"sink": {
												"name": "waste_description",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['waste_inv_desc']"
											},
											"sink": {
												"name": "waste_inv_desc",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['waste_MDT_desc']"
											},
											"sink": {
												"name": "waste_MDT_desc",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['waste_type']"
											},
											"sink": {
												"name": "waste_type",
												"type": "String"
											}
										}
									],
									"collectionReference": "$['result']"
								}
							},
							"inputs": [
								{
									"referenceName": "DataLake",
									"type": "DatasetReference",
									"parameters": {
										"EffectiveDate": {
											"value": "@formatDateTime(utcnow(),'yyyy-MM-dd')",
											"type": "Expression"
										},
										"ContainerName": {
											"value": "wastetype",
											"type": "Expression"
										},
										"DatasetName": {
											"value": "waste_type",
											"type": "Expression"
										},
										"Instance": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DBTable",
									"type": "DatasetReference",
									"parameters": {
										"TableName": {
											"value": "@concat('Waste_Type_',item())",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Service code into DB",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Waste Type to DB",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "upsert",
									"upsertSettings": {
										"useTempDB": true,
										"keys": [
											"serv_code"
										]
									},
									"sqlWriterUseTableLock": true,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "['billing_qty']"
											},
											"sink": {
												"name": "billing_qty",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['bin_count_incremental']"
											},
											"sink": {
												"name": "bin_count_incremental",
												"type": "Boolean"
											}
										},
										{
											"source": {
												"path": "['booking_RFID']"
											},
											"sink": {
												"name": "booking_RFID",
												"type": "Boolean"
											}
										},
										{
											"source": {
												"path": "['Code_Type']"
											},
											"sink": {
												"name": "Code_Type",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['CODPortalDescription']"
											},
											"sink": {
												"name": "CODPortalDescription",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['CODPortalImage']"
											},
											"sink": {
												"name": "CODPortalImage",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['CODPortalImageURL']"
											},
											"sink": {
												"name": "CODPortalImageURL",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['colour_default']"
											},
											"sink": {
												"name": "colour_default",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['com_serviced_by_res']"
											},
											"sink": {
												"name": "com_serviced_by_res",
												"type": "Boolean"
											}
										},
										{
											"source": {
												"path": "['DayPlanCount_1']"
											},
											"sink": {
												"name": "DayPlanCount_1",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['DayPlanCount_2']"
											},
											"sink": {
												"name": "DayPlanCount_2",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['DayPlanCount_3']"
											},
											"sink": {
												"name": "DayPlanCount_3",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['DayPlanCount_4']"
											},
											"sink": {
												"name": "DayPlanCount_4",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['DayPlanCount_5']"
											},
											"sink": {
												"name": "DayPlanCount_5",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['DayPlanCount_6']"
											},
											"sink": {
												"name": "DayPlanCount_6",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['DayPlanCount_7']"
											},
											"sink": {
												"name": "DayPlanCount_7",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['DayPlanCount_8']"
											},
											"sink": {
												"name": "DayPlanCount_8",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['DayPlanCount_9']"
											},
											"sink": {
												"name": "DayPlanCount_9",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['DayPlanCount_10']"
											},
											"sink": {
												"name": "DayPlanCount_10",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['DayPlanRtType_1']"
											},
											"sink": {
												"name": "DayPlanRtType_1",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['DayPlanRtType_2']"
											},
											"sink": {
												"name": "DayPlanRtType_2",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['DayPlanRtType_3']"
											},
											"sink": {
												"name": "DayPlanRtType_3",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['DayPlanRtType_4']"
											},
											"sink": {
												"name": "DayPlanRtType_4",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['DayPlanRtType_5']"
											},
											"sink": {
												"name": "DayPlanRtType_5",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['DayPlanRtType_6']"
											},
											"sink": {
												"name": "DayPlanRtType_6",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['DayPlanRtType_7']"
											},
											"sink": {
												"name": "DayPlanRtType_7",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['DayPlanRtType_8']"
											},
											"sink": {
												"name": "DayPlanRtType_8",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['DayPlanRtType_9']"
											},
											"sink": {
												"name": "DayPlanRtType_9",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['DayPlanRtType_10']"
											},
											"sink": {
												"name": "DayPlanRtType_10",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['DefaultNewBookingStatus']"
											},
											"sink": {
												"name": "DefaultNewBookingStatus",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['description']"
											},
											"sink": {
												"name": "description",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['dispatch_future_bkgs']"
											},
											"sink": {
												"name": "dispatch_future_bkgs",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['display_order']"
											},
											"sink": {
												"name": "display_order",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['DuplicateBookingWarning']"
											},
											"sink": {
												"name": "DuplicateBookingWarning",
												"type": "Boolean"
											}
										},
										{
											"source": {
												"path": "['import_id']"
											},
											"sink": {
												"name": "import_id",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['Invoice_cycle']"
											},
											"sink": {
												"name": "Invoice_cycle",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['lead_days']"
											},
											"sink": {
												"name": "lead_days",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['ledger_account']"
											},
											"sink": {
												"name": "ledger_account",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['ledger_account_RI']"
											},
											"sink": {
												"name": "ledger_account_RI",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['max_bkgs_per_zone']"
											},
											"sink": {
												"name": "max_bkgs_per_zone",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['serv_brws_desc']"
											},
											"sink": {
												"name": "serv_brws_desc",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['serv_code']"
											},
											"sink": {
												"name": "serv_code",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['serv_inv_desc']"
											},
											"sink": {
												"name": "serv_inv_desc",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['serv_MDT_desc']"
											},
											"sink": {
												"name": "serv_MDT_desc",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['Service_Type']"
											},
											"sink": {
												"name": "Service_Type",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['TipSeperateExcess']"
											},
											"sink": {
												"name": "TipSeperateExcess",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['UpdateProgram']"
											},
											"sink": {
												"name": "UpdateProgram",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['UpdateUserID']"
											},
											"sink": {
												"name": "UpdateUserID",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['WarnForAvailableSchedService']"
											},
											"sink": {
												"name": "WarnForAvailableSchedService",
												"type": "Boolean"
											}
										}
									],
									"collectionReference": "$['result']"
								}
							},
							"inputs": [
								{
									"referenceName": "DataLake",
									"type": "DatasetReference",
									"parameters": {
										"EffectiveDate": {
											"value": "@formatDateTime(utcnow(),'yyyy-MM-dd')",
											"type": "Expression"
										},
										"ContainerName": {
											"value": "system",
											"type": "Expression"
										},
										"DatasetName": {
											"value": "service_code",
											"type": "Expression"
										},
										"Instance": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DBTable",
									"type": "DatasetReference",
									"parameters": {
										"TableName": {
											"value": "@concat('service_code_',item())",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Service Type to DB",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Service code into DB",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "upsert",
									"upsertSettings": {
										"useTempDB": true,
										"keys": [
											"serv_type"
										]
									},
									"sqlWriterUseTableLock": true,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "['colour']"
											},
											"sink": {
												"name": "colour",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['display_order']"
											},
											"sink": {
												"name": "display_order",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['import_id']"
											},
											"sink": {
												"name": "import_id",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['incl_tipping']"
											},
											"sink": {
												"name": "incl_tipping",
												"type": "Boolean"
											}
										},
										{
											"source": {
												"path": "['inventory_effect']"
											},
											"sink": {
												"name": "inventory_effect",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['MoveLinkedPickup']"
											},
											"sink": {
												"name": "MoveLinkedPickup",
												"type": "Boolean"
											}
										},
										{
											"source": {
												"path": "['roll_option']"
											},
											"sink": {
												"name": "roll_option",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['serv_brws_desc']"
											},
											"sink": {
												"name": "serv_brws_desc",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['serv_desc']"
											},
											"sink": {
												"name": "serv_desc",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['serv_inv_desc']"
											},
											"sink": {
												"name": "serv_inv_desc",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['serv_MDT_desc']"
											},
											"sink": {
												"name": "serv_MDT_desc",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['serv_type']"
											},
											"sink": {
												"name": "serv_type",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['skip_weekend']"
											},
											"sink": {
												"name": "skip_weekend",
												"type": "Boolean"
											}
										},
										{
											"source": {
												"path": "['UpdateProgram']"
											},
											"sink": {
												"name": "UpdateProgram",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['UpdateUserID']"
											},
											"sink": {
												"name": "UpdateUserID",
												"type": "String"
											}
										}
									],
									"collectionReference": "$['result']"
								}
							},
							"inputs": [
								{
									"referenceName": "DataLake",
									"type": "DatasetReference",
									"parameters": {
										"EffectiveDate": {
											"value": "@formatDateTime(utcnow(),'yyyy-MM-dd')",
											"type": "Expression"
										},
										"ContainerName": {
											"value": "system",
											"type": "Expression"
										},
										"DatasetName": {
											"value": "service_type",
											"type": "Expression"
										},
										"Instance": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DBTable",
									"type": "DatasetReference",
									"parameters": {
										"TableName": {
											"value": "@concat('service_type_',item())",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Branch to DB",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Service Type to DB",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "upsert",
									"upsertSettings": {
										"useTempDB": true,
										"keys": [
											"org"
										]
									},
									"sqlWriterUseTableLock": true,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "['default_transporter']"
											},
											"sink": {
												"name": "default_transporter",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['Department']"
											},
											"sink": {
												"name": "Department",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['Description']"
											},
											"sink": {
												"name": "Description",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['ExternalBranchCode']"
											},
											"sink": {
												"name": "ExternalBranchCode",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['ExternalCompanyCode']"
											},
											"sink": {
												"name": "ExternalCompanyCode",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['import_id']"
											},
											"sink": {
												"name": "import_id",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['org']"
											},
											"sink": {
												"name": "org",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['org_title']"
											},
											"sink": {
												"name": "org_title",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['parent_org']"
											},
											"sink": {
												"name": "parent_org",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['Type']"
											},
											"sink": {
												"name": "Type",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['UpdateProgram']"
											},
											"sink": {
												"name": "UpdateProgram",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['UpdateUserID']"
											},
											"sink": {
												"name": "UpdateUserID",
												"type": "String"
											}
										}
									],
									"collectionReference": "$['result']"
								}
							},
							"inputs": [
								{
									"referenceName": "DataLake",
									"type": "DatasetReference",
									"parameters": {
										"EffectiveDate": {
											"value": "@formatDateTime(utcnow(),'yyyy-MM-dd')",
											"type": "Expression"
										},
										"ContainerName": {
											"value": "system",
											"type": "Expression"
										},
										"DatasetName": {
											"value": "branch",
											"type": "Expression"
										},
										"Instance": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DBTable",
									"type": "DatasetReference",
									"parameters": {
										"TableName": {
											"value": "@concat('branch_',item())",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Employee to DB",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Branch to DB",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "upsert",
									"upsertSettings": {
										"useTempDB": true,
										"keys": [
											"id"
										]
									},
									"sqlWriterUseTableLock": true,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "['Active']"
											},
											"sink": {
												"name": "Active",
												"type": "Boolean"
											}
										},
										{
											"source": {
												"path": "['address_1']"
											},
											"sink": {
												"name": "address_1",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['address_2']"
											},
											"sink": {
												"name": "address_2",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['birth_date']"
											},
											"sink": {
												"name": "birth_date",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['Branches']"
											},
											"sink": {
												"name": "Branches",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['car_phone']"
											},
											"sink": {
												"name": "car_phone",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['childrenRestricted']"
											},
											"sink": {
												"name": "childrenRestricted",
												"type": "Boolean"
											}
										},
										{
											"source": {
												"path": "['city']"
											},
											"sink": {
												"name": "city",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['classification']"
											},
											"sink": {
												"name": "classification",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['Country']"
											},
											"sink": {
												"name": "Country",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['create_timestamp']"
											},
											"sink": {
												"name": "create_timestamp",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "['create_user_id']"
											},
											"sink": {
												"name": "create_user_id",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['css_tab_button_size']"
											},
											"sink": {
												"name": "css_tab_button_size",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['css_tab_fillin_size']"
											},
											"sink": {
												"name": "css_tab_fillin_size",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['css_tab_mnu_font_size']"
											},
											"sink": {
												"name": "css_tab_mnu_font_size",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['date_hired']"
											},
											"sink": {
												"name": "date_hired",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "['driver_cert1']"
											},
											"sink": {
												"name": "driver_cert1",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['driver_cert1_exp_date']"
											},
											"sink": {
												"name": "driver_cert1_exp_date",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "['driver_cert2']"
											},
											"sink": {
												"name": "driver_cert2",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['driver_cert2_exp_date']"
											},
											"sink": {
												"name": "driver_cert2_exp_date",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "['driver_cert3']"
											},
											"sink": {
												"name": "driver_cert3",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['driver_cert3_exp_date']"
											},
											"sink": {
												"name": "driver_cert3_exp_date",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "['driver_cert4']"
											},
											"sink": {
												"name": "driver_cert4",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['driver_cert4_exp_date']"
											},
											"sink": {
												"name": "driver_cert4_exp_date",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "['driver_danger_cert']"
											},
											"sink": {
												"name": "driver_danger_cert",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "['driver_emp_type']"
											},
											"sink": {
												"name": "driver_emp_type",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['driver_ins_exp_date']"
											},
											"sink": {
												"name": "driver_ins_exp_date",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "['driver_lic_class']"
											},
											"sink": {
												"name": "driver_lic_class",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['driver_lic_exp_date']"
											},
											"sink": {
												"name": "driver_lic_exp_date",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "['driver_lic_number']"
											},
											"sink": {
												"name": "driver_lic_number",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['driver_lic_region']"
											},
											"sink": {
												"name": "driver_lic_region",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['driver_ops_type']"
											},
											"sink": {
												"name": "driver_ops_type",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['Driver_status']"
											},
											"sink": {
												"name": "Driver_status",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['email_address']"
											},
											"sink": {
												"name": "email_address",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['Fatigue_Type']"
											},
											"sink": {
												"name": "Fatigue_Type",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['id']"
											},
											"sink": {
												"name": "id",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['import_id']"
											},
											"sink": {
												"name": "import_id",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['LastLogin']"
											},
											"sink": {
												"name": "LastLogin",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "['name']"
											},
											"sink": {
												"name": "name",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['phone']"
											},
											"sink": {
												"name": "phone",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['RecAdminEmails']"
											},
											"sink": {
												"name": "RecAdminEmails",
												"type": "Boolean"
											}
										},
										{
											"source": {
												"path": "['RecAdvertEmails']"
											},
											"sink": {
												"name": "RecAdvertEmails",
												"type": "Boolean"
											}
										},
										{
											"source": {
												"path": "['spouse']"
											},
											"sink": {
												"name": "spouse",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['state']"
											},
											"sink": {
												"name": "state",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['SupportAccount']"
											},
											"sink": {
												"name": "SupportAccount",
												"type": "Boolean"
											}
										},
										{
											"source": {
												"path": "['type']"
											},
											"sink": {
												"name": "type",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['update_timestamp']"
											},
											"sink": {
												"name": "update_timestamp",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "['update_user_id']"
											},
											"sink": {
												"name": "update_user_id",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['UpdateProgram']"
											},
											"sink": {
												"name": "UpdateProgram",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['username']"
											},
											"sink": {
												"name": "username",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['zip']"
											},
											"sink": {
												"name": "zip",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['zone_id']"
											},
											"sink": {
												"name": "zone_id",
												"type": "String"
											}
										}
									],
									"collectionReference": "$['result']",
									"mapComplexValuesToString": false
								}
							},
							"inputs": [
								{
									"referenceName": "DataLake",
									"type": "DatasetReference",
									"parameters": {
										"EffectiveDate": {
											"value": "@formatDateTime(utcnow(),'yyyy-MM-dd')",
											"type": "Expression"
										},
										"ContainerName": {
											"value": "system",
											"type": "Expression"
										},
										"DatasetName": {
											"value": "employee",
											"type": "Expression"
										},
										"Instance": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DBTable",
									"type": "DatasetReference",
									"parameters": {
										"TableName": {
											"value": "@concat('employee_',item())",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Vendor to DB",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Employee to DB",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "upsert",
									"upsertSettings": {
										"useTempDB": true,
										"keys": [
											"id"
										]
									},
									"sqlWriterUseTableLock": true,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "['$id']"
											},
											"sink": {
												"name": "id",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['Active']"
											},
											"sink": {
												"name": "Active",
												"type": "Boolean"
											}
										},
										{
											"source": {
												"path": "['address_1']"
											},
											"sink": {
												"name": "address_1",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['address_1_alt']"
											},
											"sink": {
												"name": "address_1_alt",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['address_2']"
											},
											"sink": {
												"name": "address_2",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['address_2_alt']"
											},
											"sink": {
												"name": "address_2_alt",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['branch_name']"
											},
											"sink": {
												"name": "branch_name",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['BranchList']"
											},
											"sink": {
												"name": "BranchList",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['city']"
											},
											"sink": {
												"name": "city",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['classification']"
											},
											"sink": {
												"name": "classification",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['depot_list']"
											},
											"sink": {
												"name": "depot_list",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['disc_perc']"
											},
											"sink": {
												"name": "disc_perc",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['ea_permit_number']"
											},
											"sink": {
												"name": "ea_permit_number",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['email_address']"
											},
											"sink": {
												"name": "email_address",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['fax_no']"
											},
											"sink": {
												"name": "fax_no",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['geocode_x']"
											},
											"sink": {
												"name": "geocode_x",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['geocode_y']"
											},
											"sink": {
												"name": "geocode_y",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['import_id']"
											},
											"sink": {
												"name": "import_id",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['ledger_account']"
											},
											"sink": {
												"name": "ledger_account",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['ledger_account_RI']"
											},
											"sink": {
												"name": "ledger_account_RI",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['name']"
											},
											"sink": {
												"name": "name",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['name_alt']"
											},
											"sink": {
												"name": "name_alt",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['phone']"
											},
											"sink": {
												"name": "phone",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['state']"
											},
											"sink": {
												"name": "state",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['Time_allowance']"
											},
											"sink": {
												"name": "Time_allowance",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['UpdateProgram']"
											},
											"sink": {
												"name": "UpdateProgram",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['UpdateUserID']"
											},
											"sink": {
												"name": "UpdateUserID",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['vendor_no']"
											},
											"sink": {
												"name": "vendor_no",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['vendor_type']"
											},
											"sink": {
												"name": "vendor_type",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['zip']"
											},
											"sink": {
												"name": "zip",
												"type": "String"
											}
										}
									],
									"collectionReference": "$['result']",
									"mapComplexValuesToString": false
								}
							},
							"inputs": [
								{
									"referenceName": "DataLake",
									"type": "DatasetReference",
									"parameters": {
										"EffectiveDate": {
											"value": "@formatDateTime(utcnow(),'yyyy-MM-dd')",
											"type": "Expression"
										},
										"ContainerName": {
											"value": "system",
											"type": "Expression"
										},
										"DatasetName": {
											"value": "vendor",
											"type": "Expression"
										},
										"Instance": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DBTable",
									"type": "DatasetReference",
									"parameters": {
										"TableName": {
											"value": "@concat('vendor_',item())",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Route to DB",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Vendor to DB",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": true,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "['$id']"
											},
											"sink": {
												"name": "id",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['Active']"
											},
											"sink": {
												"name": "Active",
												"type": "Boolean"
											}
										},
										{
											"source": {
												"path": "['area_type']"
											},
											"sink": {
												"name": "area_type",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['branch']"
											},
											"sink": {
												"name": "branch",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['create_timestamp']"
											},
											"sink": {
												"name": "create_timestamp",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "['create_user_id']"
											},
											"sink": {
												"name": "create_user_id",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['display_order']"
											},
											"sink": {
												"name": "display_order",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['driver']"
											},
											"sink": {
												"name": "driver",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['driver_list']"
											},
											"sink": {
												"name": "driver_list",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['equipment_set']"
											},
											"sink": {
												"name": "equipment_set",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['Friday']"
											},
											"sink": {
												"name": "Friday",
												"type": "Boolean"
											}
										},
										{
											"source": {
												"path": "['G_Cal_ID']"
											},
											"sink": {
												"name": "G_Cal_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['G_Event_ID']"
											},
											"sink": {
												"name": "G_Event_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['import_id']"
											},
											"sink": {
												"name": "import_id",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['InvoiceCustomer']"
											},
											"sink": {
												"name": "InvoiceCustomer",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['InvoiceService']"
											},
											"sink": {
												"name": "InvoiceService",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['labour_rate_per_hour']"
											},
											"sink": {
												"name": "labour_rate_per_hour",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['mdt_enabled']"
											},
											"sink": {
												"name": "mdt_enabled",
												"type": "Boolean"
											}
										},
										{
											"source": {
												"path": "['Monday']"
											},
											"sink": {
												"name": "Monday",
												"type": "Boolean"
											}
										},
										{
											"source": {
												"path": "['next_service_date']"
											},
											"sink": {
												"name": "next_service_date",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "['num_employees']"
											},
											"sink": {
												"name": "num_employees",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['ReSequenceType']"
											},
											"sink": {
												"name": "ReSequenceType",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['route_brws_desc']"
											},
											"sink": {
												"name": "route_brws_desc",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['route_cycle']"
											},
											"sink": {
												"name": "route_cycle",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['route_description']"
											},
											"sink": {
												"name": "route_description",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['route_inv_desc']"
											},
											"sink": {
												"name": "route_inv_desc",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['route_MDT_desc']"
											},
											"sink": {
												"name": "route_MDT_desc",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['route_no']"
											},
											"sink": {
												"name": "route_no",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['route_type']"
											},
											"sink": {
												"name": "route_type",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['Saturday']"
											},
											"sink": {
												"name": "Saturday",
												"type": "Boolean"
											}
										},
										{
											"source": {
												"path": "['serv_code']"
											},
											"sink": {
												"name": "serv_code",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['shift_no']"
											},
											"sink": {
												"name": "shift_no",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['Sunday']"
											},
											"sink": {
												"name": "Sunday",
												"type": "Boolean"
											}
										},
										{
											"source": {
												"path": "['supervisor_no']"
											},
											"sink": {
												"name": "supervisor_no",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['team_no']"
											},
											"sink": {
												"name": "team_no",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['Thursday']"
											},
											"sink": {
												"name": "Thursday",
												"type": "Boolean"
											}
										},
										{
											"source": {
												"path": "['truck_no']"
											},
											"sink": {
												"name": "truck_no",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['Tuesday']"
											},
											"sink": {
												"name": "Tuesday",
												"type": "Boolean"
											}
										},
										{
											"source": {
												"path": "['update_timestamp']"
											},
											"sink": {
												"name": "update_timestamp",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "['update_user_id']"
											},
											"sink": {
												"name": "update_user_id",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['UpdateProgram']"
											},
											"sink": {
												"name": "UpdateProgram",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['Wednesday']"
											},
											"sink": {
												"name": "Wednesday",
												"type": "Boolean"
											}
										}
									],
									"collectionReference": "$['result']"
								}
							},
							"inputs": [
								{
									"referenceName": "DataLake",
									"type": "DatasetReference",
									"parameters": {
										"EffectiveDate": {
											"value": "@formatDateTime(utcnow(),'yyyy-MM-dd')",
											"type": "Expression"
										},
										"ContainerName": {
											"value": "route",
											"type": "Expression"
										},
										"DatasetName": {
											"value": "route",
											"type": "Expression"
										},
										"Instance": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DBTable",
									"type": "DatasetReference",
									"parameters": {
										"TableName": {
											"value": "@concat('route_',item())",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"variables": {
			"Entity": {
				"type": "Array",
				"defaultValue": [
					"system.system/vendor",
					"system.system/unit_of_measure",
					"system.system/branch",
					"system.system/service_code",
					"system.system/service_type",
					"system.system/employee",
					"system.system/unit_of_measure",
					"wastetype.waste_type/waste_type",
					"vehicle.vehicle/vehicle",
					"invoiceperiod.invoicing/invoice_period",
					"container.container/container",
					"route.vehicle/route"
				]
			},
			"Instance": {
				"type": "Array",
				"defaultValue": [
					"wflex"
				]
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-02-29T22:48:57Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}